In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import os
import pickle
import re
import json
# from sklearn import cross_validation as cv
from collections import Counter
# from tensorflow.python.ops import math_ops
import matplotlib.pyplot as plt
import time
import datetime

In [2]:
ani_ali = pd.read_csv('./911call/chifoia_event_ani_ali.csv')

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (1,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ani_ali.head()

,Unnamed: 0,ALINUMBER,ASQDATE,ANSWERDATE,POSITION,PERSID,WORKSTATION,EQUIPMENT,DESCR,ACDID,COMPANYID,XCOORD,YCOORD,DIRECTION
0,0,89375091,01/01/2016 00:00:04,01/01/2016 00:00:00,732.0,C549511,PD32,WPH2,NaN,NaN,NaN,NaN,NaN,NaN
1,1,89375092,01/01/2016 00:00:09,01/01/2016 00:00:00,725.0,C606055,PCT25,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
2,2,89375093,01/01/2016 00:00:13,01/01/2016 00:00:00,748.0,C100965,PCT48,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
3,3,89375094,01/01/2016 00:00:18,01/01/2016 00:00:00,749.0,C100963,PCT49,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
4,4,89375095,01/01/2016 00:00:19,01/01/2016 00:00:00,721.0,A99592,PADM21,CNTX,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ani_ali.ALINUMBER.unique().shape

(6751903,)

In [5]:
ani_ali.ASQDATE.unique()

array(['01/01/2016 00:00:04', '01/01/2016 00:00:09', '01/01/2016 00:00:13',
       ..., '12/31/2016 23:59:24', '12/31/2016 23:59:38',
       '12/31/2016 23:59:51'], dtype=object)

In [6]:
ani_ali.ANSWERDATE.unique()

array(['01/01/2016 00:00:00', nan, '01/01/2016 00:01:00', ...,
       '12/31/2016 23:57:00', '12/31/2016 23:58:00', '12/31/2016 23:59:00'], dtype=object)

In [7]:
ani_ali.XCOORD.unique().shape

(34132,)

In [8]:
ani_ali = ani_ali.drop(columns=['Unnamed: 0'])

In [9]:
ani_ali.ASQDATE = pd.to_datetime(ani_ali.ASQDATE,format = '%m/%d/%Y %H:%M:%S', errors='coerce')

In [10]:
ani_ali.ANSWERDATE = pd.to_datetime(ani_ali.ANSWERDATE,format = '%m/%d/%Y %H:%M:%S', errors='coerce')

In [11]:
ani_ali

,ALINUMBER,ASQDATE,ANSWERDATE,POSITION,PERSID,WORKSTATION,EQUIPMENT,DESCR,ACDID,COMPANYID,XCOORD,YCOORD,DIRECTION
0,89375091,2016-01-01 00:00:04,2016-01-01 00:00:00,732.0,C549511,PD32,WPH2,NaN,NaN,NaN,NaN,NaN,NaN
1,89375092,2016-01-01 00:00:09,2016-01-01 00:00:00,725.0,C606055,PCT25,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
2,89375093,2016-01-01 00:00:13,2016-01-01 00:00:00,748.0,C100965,PCT48,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
3,89375094,2016-01-01 00:00:18,2016-01-01 00:00:00,749.0,C100963,PCT49,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
4,89375095,2016-01-01 00:00:19,2016-01-01 00:00:00,721.0,A99592,PADM21,CNTX,NaN,NaN,NaN,NaN,NaN,NaN
5,89375096,2016-01-01 00:00:20,2016-01-01 00:00:00,738.0,C113107,PCT38,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
6,89375097,2016-01-01 00:00:24,2016-01-01 00:00:00,834.0,C839505,PD124,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
7,89375098,2016-01-01 00:00:25,2016-01-01 00:00:00,711.0,C307554,PCT11,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
8,89375099,2016-01-01 00:00:28,NaT,708.0,A560946,PD08,NaN,RECORD NOT FOUND,NaN,NaN,NaN,NaN,NaN
9,89375100,2016-01-01 00:00:30,2016-01-01 00:00:00,793.0,C108849,PDT93,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
10,89375101,2016-01-01 00:00:31,2016-01-01 00:00:00,765.0,C75741,PCT65,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
11,89375102,2016-01-01 00:00:33,2016-01-01 00:00:00,764.0,C552948,PCT64,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
12,89375103,2016-01-01 00:00:37,2016-01-01 00:00:00,758.0,C554489,PCT58,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
13,89375104,2016-01-01 00:00:37,2016-01-01 00:00:00,727.0,C560948,PCT27,BUSN,NaN,NaN,NaN,NaN,NaN,NaN
14,89375105,2016-01-01 00:00:39,2016-01-01 00:00:00,756.0,C108848,PCT56,WPH2,NaN,NaN,NaN,NaN,NaN,NaN
15,89375106,2016-01-01 00:00:42,2016-01-01 00:00:00,713.0,C555107,PCT13,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
16,89375107,2016-01-01 00:00:44,2016-01-01 00:00:00,717.0,C108843,PDS17,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
17,89375108,2016-01-01 00:00:44,2016-01-01 00:00:00,746.0,C113109,PCT46,WPH2,NaN,NaN,NaN,NaN,NaN,NaN
18,89375109,2016-01-01 00:00:49,2016-01-01 00:00:00,757.0,C100954,PCTS57,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
19,89375110,2016-01-01 00:00:51,2016-01-01 00:00:00,759.0,C606057,PCT59,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
20,89375111,2016-01-01 00:00:51,2016-01-01 00:00:00,725.0,C606055,PCT25,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
21,89375112,2016-01-01 00:00:52,2016-01-01 00:00:00,768.0,C559905,PCT68,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
22,89375113,2016-01-01 00:00:54,2016-01-01 00:00:00,724.0,C541234,PCTS24,RESD,NaN,NaN,NaN,NaN,NaN,NaN
23,89375114,2016-01-01 00:00:59,2016-01-01 00:00:00,766.0,C559895,PCT66,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
24,89375115,2016-01-01 00:01:02,2016-01-01 00:01:00,714.0,C100957,PCT14,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
25,89375116,2016-01-01 00:01:03,2016-01-01 00:01:00,726.0,C100912,PCT26,WPH2,NaN,NaN,NaN,NaN,NaN,NaN
26,89375118,2016-01-01 00:01:06,2016-01-01 00:01:00,723.0,C602883,PCT23,RESD,NaN,NaN,NaN,NaN,NaN,NaN
27,89375119,2016-01-01 00:01:07,2016-01-01 00:01:00,738.0,C113107,PCT38,WPH2,NaN,NaN,NaN,NaN,NaN,NaN
28,89375120,2016-01-01 00:01:08,2016-01-01 00:01:00,753.0,C307502,PD53,VOIP,NaN,NaN,NaN,NaN,NaN,NaN
29,89375121,2016-01-01 00:01:14,2016-01-01 00:01:00,739.0,C8782,PCT39,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6751878,94257987,2016-12-31 23:56:14,2016-12-31 23:56:00,726.0,C559902,PCT26,WPH1,NaN,A3049176470,SPPCS,-87.7528,41.873331,-
6751879,94257988,2016-12-31 23:56:23,2016-12-31 23:56:00,723.0,C541234,PCT23,WPH1,NaN,A3049185423,TMOB,-87.6358,41.744361,3SW
6751880,94257989,2016-12-31 23:56:26,2016-12-31 23:56:00,717.0,C118618,PDS17,WPH2,NaN,A3049188298,SPPCS,-87.7044,+041.76211,NaN
6751881,94257990,2016-12-31 23:56:29,2016-12-31 23:56:00,710.0,C541741,PCT10,WPH1,NaN,A3049191501,SPPCS,-87.713,41.912391,-
6751882,94257991,2016-12-31 23:56:29,2016-12-31 23:56:00,761.0,C113107,PD61,WPH1,NaN,A3049191626,ATTMO,-87.7066,+41.735420,3NW
6751883,94257992,2016-12-31 23:56:34,2016-12-31 23:56:00,834.0,C31084,PD124,WPH2,NaN,B3049195783,SPPCS,-87.7033,+041.77485,NaN
6751884,94257994,2016-12-31 23:56:59,2016-12-31 23:56:00,735.0,C602883,PCT35,WPH1,NaN,B3049220970,TMOB,-87.6642,41.961944,N
6751885,94257995,2016-12-31 23:57:00,2016-12-31 23:56:00,760.0,C106936,PD60,WPH1,NaN,B3049220861,TMOB,-87.6414,41.667,3N
6751886,94257996,2016-12-31 23:57:02,2016-12-31 23:57:00,793.0,C117193,PDT93,WPH2,NaN,B3049224111,SPPCS,-87.7084,+041.84532,NaN
6751887,94257997,2016-12-31 23:57:03,2016-12-31 23:57:00,752.0,C112815,PD52,WPH1,NaN,B3049224986,ATTMO,-87.6217,+41.85858,3SW
6751888,94257998,2016-12-31 23:57:05,2016-12-31 23:57:00,758.0,C559904,PCT58,WPH1,NaN,B3049227673,SPPCS,-87.6332,41.892087,-
6751889,94257999,2016-12-31 23:57:09,2016-12-31 23:57:00,836.0,C22412,PD126,WPH1,NaN,B3049230970,ATTMO,-87.6236,+41.891111,3S
6751890,94258000,2016-12-31 23:57:14,2016-12-31 23:57:00,745.0,C560944,PCT45,WPH2,NaN,A3049236486,VZW,-87.6518,+041.85758,NaN
6751891,94258001,2016-12-31 23:57:21,NaT,720.0,A502909,PADM20,NaN,RECORD NOT FOUND,NaN,NaN,NaN,NaN,NaN
6751892,94258002,2016-12-31 23:57:24,2016-12-31 23:58:00,768.0,C539210,PCT68,WPH2,NaN,A3049246298,TMOB,-87.6468,+041.73603,NaN
6751893,94258003,2016-12-31 23:57:29,2016-12-31 23:57:00,733.0,C604266,PCT33,WPH1,NaN,A3049251361,ATTMO,-87.6994,+41.88448,3W
6751894,94258005,2016-12-31 23:57:42,2016-12-31 23:57:00,712.0,C100954,PCT12,WPH1,NaN,B3049264079,VZW,-87.6543,+41.944678,3OMN
6751895,94258008,2016-12-31 23:57:53,2016-12-31 23:58:00,767.0,C100963,PCT67,WPH2,NaN,A3049274814,SPPCS,-87.7587,+041.92454,NaN
6751896,94258009,2016-12-31 23:58:00,2016-12-31 23:57:00,812.0,C553512,FDT104,WPH2,NaN,A3049282595,SPPCS,-87.6679,+041.97614,NaN
6751897,94258010,2016-12-31 23:58:05,2016-12-31 23:58:00,746.0,C100995,PCT46,RESD,NaN,B3049287408,AMTCH,NaN,NaN,NaN
6751898,94258011,2016-12-31 23:58:12,2016-12-31 23:58:00,748.0,C108844,PCT48,WPH1,NaN,B3049294298,TMOB,-87.6472,41.750555,3N
6751899,94258012,2016-12-31 23:58:14,2016-12-31 23:58:00,736.0,C103127,PCT36,WPH1,NaN,B3049296361,VZW,-87.6691,+42.014717,3SE
6751900,94258016,2016-12-31 23:58:42,2016-12-31 23:58:00,732.0,C550398,PD32,WPH1,NaN,B3049323876,ATTMO,-87.6245,+41.79489,3SW
6751901,94258017,2016-12-31 23:58:45,2016-12-31 23:58:00,831.0,C100957,PCT113,WPH2,NaN,B3049327361,SPPCS,-87.6362,+041.77468,NaN
6751902,94258018,2016-12-31 23:59:03,2016-12-31 23:59:00,838.0,C106928,FDT116,WPH2,NaN,B3049345376,SPPCS,-87.6866,+041.77200,NaN
6751903,94258020,2016-12-31 23:59:06,2016-12-31 23:59:00,739.0,C108833,PCT39,RESD,NaN,B3049348954,FAIL,NaN,NaN,NaN
6751904,94258021,2016-12-31 23:59:14,2016-12-31 23:59:00,738.0,C100912,PCT38,WPH1,NaN,A3049356048,TMOB,-87.6246,41.680834,3N
6751905,94258022,2016-12-31 23:59:24,2016-12-31 23:59:00,727.0,C560948,PCT27,PBXb,NaN,B3049366798,AOINC,NaN,NaN,NaN
6751906,94258024,2016-12-31 23:59:38,2016-12-31 23:59:00,714.0,C305083,PCT14,WPH1,NaN,B3049380126,TMOB,-87.7352,41.8550555,NE
6751907,94258025,2016-12-31 23:59:51,2016-12-31 23:59:00,711.0,C550924,PCT11,WPH1,NaN,B3049393986,TMOB,-87.7538,41.90720,3SE

In [12]:
event_case = pd.read_csv('./911call/chifoia_event_case.csv')

In [13]:
event_case.head()

,Unnamed: 0,CASETYPE,EVENTNUMBER,UNIT,CASENUMBER,ENTRYDATE,ENTRYDATEHN,CASECANFLAG
0,0,RDN,1535016063,5151,HZ105113,01/05/2016 16:49:43,8,N
1,1,RDN,1536514126,1723R,HZ100004,01/01/2016 00:05:45,30,N
2,2,RDN,1536514231,934R,HZ100020,01/01/2016 00:43:06,16,N
3,3,RDN,1536514255,911R,HZ100003,01/01/2016 00:03:07,73,N
4,4,RDN,1536514304,2523R,HZ100001,01/01/2016 00:00:10,31,N

In [14]:
event_case = event_case.drop(columns=['Unnamed: 0'])

In [15]:
event_case

,CASETYPE,EVENTNUMBER,UNIT,CASENUMBER,ENTRYDATE,ENTRYDATEHN,CASECANFLAG
0,RDN,1535016063,5151,HZ105113,01/05/2016 16:49:43,8,N
1,RDN,1536514126,1723R,HZ100004,01/01/2016 00:05:45,30,N
2,RDN,1536514231,934R,HZ100020,01/01/2016 00:43:06,16,N
3,RDN,1536514255,911R,HZ100003,01/01/2016 00:03:07,73,N
4,RDN,1536514304,2523R,HZ100001,01/01/2016 00:00:10,31,N
5,RDN,1536514384,322,HZ100104,01/01/2016 02:15:27,15,N
6,RDN,1536514600,1915R,HZ100002,01/01/2016 00:00:43,74,N
7,RDN,1536514703,323,HZ100014,01/01/2016 00:32:57,5,N
8,RDN,1600100021,2411R,HZ100010,01/01/2016 00:23:28,38,N
9,RDN,1600100059,1561D,HZ100007,01/01/2016 00:18:41,99,N
10,RDN,1600100078,411R,HZ100006,01/01/2016 00:18:22,71,N
11,RDN,1600100127,414R,HZ100035,01/01/2016 01:05:09,92,N
12,RDN,1600100163,512,HZ100017,01/01/2016 00:37:05,8,N
13,RDN,1600100210,1011R,HZ100012,01/01/2016 00:29:38,9,N
14,RDN,1600100293,6241C,HZ100005,01/01/2016 00:12:06,80,N
15,RDN,1600100307,821R,HZ100019,01/01/2016 00:42:48,25,N
16,RDN,1600100346,1095R,HZ100022,01/01/2016 00:47:09,56,N
17,RDN,1600100348,1724R,HZ100045,01/01/2016 01:17:12,96,N
18,RDN,1600100456,2023R,HZ100018,01/01/2016 00:37:44,25,N
19,RDN,1600100470,1215R,HZ100015,01/01/2016 00:33:18,77,N
20,RDN,1600100489,PC0AO41,HZ100009,01/01/2016 00:22:53,68,N
21,RDN,1600100500,1822R,HZ100056,01/01/2016 01:24:27,37,N
22,RDN,1600100546,322,HZ100025,01/01/2016 00:51:03,91,N
23,RDN,1600100558,2033R,HZ100024,01/01/2016 00:49:51,3,N
24,RDN,1600100591,PC0Z524,HZ100011,01/01/2016 00:28:54,56,N
25,RDN,1600100610,1884L,HZ100013,01/01/2016 00:30:13,62,N
26,RDN,1600100644,1993R,HZ100050,01/01/2016 01:20:51,76,N
27,RDN,1600100665,302,HZ100016,01/01/2016 00:34:39,50,N
28,RDN,1600100702,925R,HZ100032,01/01/2016 01:02:24,70,N
29,RDN,1600100719,321,HZ100030,01/01/2016 01:00:02,69,N
...,...,...,...,...,...,...,...
948552,SSN,1636612801,NaN,16093578,12/31/2016 21:34:48,59,N
948553,SSN,1636612802,NaN,16093578,12/31/2016 21:34:48,59,N
948554,SSN,1636613291,NaN,16093579,12/31/2016 22:15:19,99,N
948555,SSN,1636613292,NaN,16093579,12/31/2016 22:15:19,99,N
948556,SSN,1636613422,NaN,16093580,12/31/2016 22:25:09,82,N
948557,SSN,1636613423,NaN,16093580,12/31/2016 22:25:09,82,N
948558,SSN,1636613640,NaN,16093581,12/31/2016 22:44:01,64,N
948559,SSN,1636613641,NaN,16093581,12/31/2016 22:44:01,64,N
948560,SSN,1636613761,NaN,16093582,12/31/2016 22:53:44,69,N
948561,SSN,1636613762,NaN,16093582,12/31/2016 22:53:44,69,N
948562,SSN,1636613820,NaN,16093583,12/31/2016 22:57:30,54,N
948563,SSN,1636613821,NaN,16093583,12/31/2016 22:57:30,54,N
948564,SSN,1636613823,NaN,16093584,12/31/2016 22:58:16,11,N
948565,SSN,1636613824,NaN,16093584,12/31/2016 22:58:16,11,N
948566,SSN,1636613869,NaN,16093585,12/31/2016 23:01:50,48,N
948567,SSN,1636613870,NaN,16093585,12/31/2016 23:01:50,48,N
948568,SSN,1636613938,NaN,16093586,12/31/2016 23:08:40,86,N
948569,SSN,1636613939,NaN,16093586,12/31/2016 23:08:40,86,N
948570,SSN,1636614004,NaN,16093587,12/31/2016 23:14:49,67,N
948571,SSN,1636614005,NaN,16093587,12/31/2016 23:14:49,67,N
948572,SSN,1636614016,NaN,16093588,12/31/2016 23:15:12,81,N
948573,SSN,1636614017,NaN,16093588,12/31/2016 23:15:12,81,N
948574,SSN,1636614047,NaN,16093589,12/31/2016 23:19:33,27,N
948575,SSN,1636614048,NaN,16093589,12/31/2016 23:19:33,27,N
948576,SSN,1636614115,NaN,16093590,12/31/2016 23:24:08,46,N
948577,SSN,1636614116,NaN,16093590,12/31/2016 23:24:08,46,N
948578,SSN,1636614400,NaN,16093591,12/31/2016 23:48:26,73,N
948579,SSN,1636614401,NaN,16093591,12/31/2016 23:48:26,73,N
948580,SSN,1636614472,NaN,16093592,12/31/2016 23:55:39,16,N
948581,SSN,1636614473,NaN,16093592,12/31/2016 23:55:39,16,N

In [16]:
event_case.ENTRYDATE = pd.to_datetime(event_case.ENTRYDATE,format = '%m/%d/%Y %H:%M:%S', errors='coerce')

In [17]:
event_case

,CASETYPE,EVENTNUMBER,UNIT,CASENUMBER,ENTRYDATE,ENTRYDATEHN,CASECANFLAG
0,RDN,1535016063,5151,HZ105113,2016-01-05 16:49:43,8,N
1,RDN,1536514126,1723R,HZ100004,2016-01-01 00:05:45,30,N
2,RDN,1536514231,934R,HZ100020,2016-01-01 00:43:06,16,N
3,RDN,1536514255,911R,HZ100003,2016-01-01 00:03:07,73,N
4,RDN,1536514304,2523R,HZ100001,2016-01-01 00:00:10,31,N
5,RDN,1536514384,322,HZ100104,2016-01-01 02:15:27,15,N
6,RDN,1536514600,1915R,HZ100002,2016-01-01 00:00:43,74,N
7,RDN,1536514703,323,HZ100014,2016-01-01 00:32:57,5,N
8,RDN,1600100021,2411R,HZ100010,2016-01-01 00:23:28,38,N
9,RDN,1600100059,1561D,HZ100007,2016-01-01 00:18:41,99,N
10,RDN,1600100078,411R,HZ100006,2016-01-01 00:18:22,71,N
11,RDN,1600100127,414R,HZ100035,2016-01-01 01:05:09,92,N
12,RDN,1600100163,512,HZ100017,2016-01-01 00:37:05,8,N
13,RDN,1600100210,1011R,HZ100012,2016-01-01 00:29:38,9,N
14,RDN,1600100293,6241C,HZ100005,2016-01-01 00:12:06,80,N
15,RDN,1600100307,821R,HZ100019,2016-01-01 00:42:48,25,N
16,RDN,1600100346,1095R,HZ100022,2016-01-01 00:47:09,56,N
17,RDN,1600100348,1724R,HZ100045,2016-01-01 01:17:12,96,N
18,RDN,1600100456,2023R,HZ100018,2016-01-01 00:37:44,25,N
19,RDN,1600100470,1215R,HZ100015,2016-01-01 00:33:18,77,N
20,RDN,1600100489,PC0AO41,HZ100009,2016-01-01 00:22:53,68,N
21,RDN,1600100500,1822R,HZ100056,2016-01-01 01:24:27,37,N
22,RDN,1600100546,322,HZ100025,2016-01-01 00:51:03,91,N
23,RDN,1600100558,2033R,HZ100024,2016-01-01 00:49:51,3,N
24,RDN,1600100591,PC0Z524,HZ100011,2016-01-01 00:28:54,56,N
25,RDN,1600100610,1884L,HZ100013,2016-01-01 00:30:13,62,N
26,RDN,1600100644,1993R,HZ100050,2016-01-01 01:20:51,76,N
27,RDN,1600100665,302,HZ100016,2016-01-01 00:34:39,50,N
28,RDN,1600100702,925R,HZ100032,2016-01-01 01:02:24,70,N
29,RDN,1600100719,321,HZ100030,2016-01-01 01:00:02,69,N
...,...,...,...,...,...,...,...
948552,SSN,1636612801,NaN,16093578,2016-12-31 21:34:48,59,N
948553,SSN,1636612802,NaN,16093578,2016-12-31 21:34:48,59,N
948554,SSN,1636613291,NaN,16093579,2016-12-31 22:15:19,99,N
948555,SSN,1636613292,NaN,16093579,2016-12-31 22:15:19,99,N
948556,SSN,1636613422,NaN,16093580,2016-12-31 22:25:09,82,N
948557,SSN,1636613423,NaN,16093580,2016-12-31 22:25:09,82,N
948558,SSN,1636613640,NaN,16093581,2016-12-31 22:44:01,64,N
948559,SSN,1636613641,NaN,16093581,2016-12-31 22:44:01,64,N
948560,SSN,1636613761,NaN,16093582,2016-12-31 22:53:44,69,N
948561,SSN,1636613762,NaN,16093582,2016-12-31 22:53:44,69,N
948562,SSN,1636613820,NaN,16093583,2016-12-31 22:57:30,54,N
948563,SSN,1636613821,NaN,16093583,2016-12-31 22:57:30,54,N
948564,SSN,1636613823,NaN,16093584,2016-12-31 22:58:16,11,N
948565,SSN,1636613824,NaN,16093584,2016-12-31 22:58:16,11,N
948566,SSN,1636613869,NaN,16093585,2016-12-31 23:01:50,48,N
948567,SSN,1636613870,NaN,16093585,2016-12-31 23:01:50,48,N
948568,SSN,1636613938,NaN,16093586,2016-12-31 23:08:40,86,N
948569,SSN,1636613939,NaN,16093586,2016-12-31 23:08:40,86,N
948570,SSN,1636614004,NaN,16093587,2016-12-31 23:14:49,67,N
948571,SSN,1636614005,NaN,16093587,2016-12-31 23:14:49,67,N
948572,SSN,1636614016,NaN,16093588,2016-12-31 23:15:12,81,N
948573,SSN,1636614017,NaN,16093588,2016-12-31 23:15:12,81,N
948574,SSN,1636614047,NaN,16093589,2016-12-31 23:19:33,27,N
948575,SSN,1636614048,NaN,16093589,2016-12-31 23:19:33,27,N
948576,SSN,1636614115,NaN,16093590,2016-12-31 23:24:08,46,N
948577,SSN,1636614116,NaN,16093590,2016-12-31 23:24:08,46,N
948578,SSN,1636614400,NaN,16093591,2016-12-31 23:48:26,73,N
948579,SSN,1636614401,NaN,16093591,2016-12-31 23:48:26,73,N
948580,SSN,1636614472,NaN,16093592,2016-12-31 23:55:39,16,N
948581,SSN,1636614473,NaN,16093592,2016-12-31 23:55:39,16,N

In [18]:
event_case.ENTRYDATE.max()

Timestamp('2017-08-31 23:59:40')

In [19]:
cross_reference = pd.read_csv('./911call/chifoia_event_cross_reference.csv')

In [20]:
cross_reference.head()

   Unnamed: 0  EVENTNUMBER  CROSSEVENTNUMBER CROSSTYPEFLAG
0           0   1600100014        1600100162           DUP
1           1   1600100014        1600100436           DUP
2           2   1600100015        1536514749           DUP
3           3   1600100015         160010002           911
4           4   1600100017         160010003           911

In [22]:
cross_reference = cross_reference.drop(columns=['Unnamed: 0'])

In [23]:
cross_reference

         EVENTNUMBER  CROSSEVENTNUMBER CROSSTYPEFLAG
0         1600100014        1600100162           DUP
1         1600100014        1600100436           DUP
2         1600100015        1536514749           DUP
3         1600100015         160010002           911
4         1600100017         160010003           911
5         1600100018        1600100062           DUP
6         1600100027        1536514603           DUP
7         1600100034        1600100045           DUP
8         1600100034        1600100053           DUP
9         1600100040        1536514630           DUP
10        1600100041        1600100260           DUP
11        1600100045        1600100034           DUP
12        1600100046        1536514397           DUP
13        1600100052        1536514397           DUP
14        1600100053        1600100034           DUP
15        1600100054        1600100071           DUP
16        1600100061        1600100206           DUP
17        1600100062        1600100018           DUP
18        1600100065        1536514636           DUP
19        1600100066        1536514752           DUP
20        1600100070         160010004           911
21        1600100071        1600100054           DUP
22        1600100073        1536514736           DUP
23        1600100075        1600100083           DUP
24        1600100078        1600100574           CPY
25        1600100081        1600100270           DUP
26        1600100083        1600100075           DUP
27        1600100091        1536514636           DUP
28        1600100092        1536514636           DUP
29        1600100094        1600100405           DUP
...              ...               ...           ...
2549901   1636614454        1700100164           DUP
2549902   1636614454        1700100212           DUP
2549903   1636614454        1700100287           DUP
2549904   1636614454        1700100293           DUP
2549905   1636614454        1700100306           DUP
2549906   1636614455        1636614369           DUP
2549907   1636614470        1700100356           DUP
2549908   1636614471        1700100011           DUP
2549909   1636614471        1700100036           DUP
2549910   1636614472        1636614473           TWO
2549911   1636614473        1636614472           TWO
2549912   1636614474         163662208           911
2549913   1636614474        1700100227           DUP
2549914   1636614478         163662211           911
2549915   1636614487         163662210           911
2549916   1636614487        1700100064           DUP
2549917   1636614493        1700100240           DUP
2549918   1636614496        1636614357           DUP
2549919   1636614499        1636614515           DUP
2549920   1636614499         163662212           911
2549921   1636614499        1700100033           DUP
2549922   1636614502         163662213           911
2549923   1636614514        1636614102           DUP
2549924   1636614515        1636614499           DUP
2549925   1636614515         170010001           911
2549926   1636614516        1636614369           DUP
2549927   1636614523         163662214           911
2549928   1636614531         163662215           911
2549929   1636614534        1700100020           DUP
2549930   1636614534        1700100077           DUP

[2549931 rows x 3 columns]

In [24]:
cross_reference.CROSSTYPEFLAG.unique()

array(['DUP', '911', 'CPY', nan, 'OPR', 'TWO'], dtype=object)

1 ‐‐ Duplicate

2 ‐‐ Operator

3 ‐‐ Combined Event

4 ‐‐ Copied Event

5 ‐‐ 911 Cross Reference

6 ‐‐ Events Generated Instead of Duplicate

8 ‐‐ Police to Streets & Sanitation Event

9 ‐‐ Streets & Sanitation Event to Police

That is the description in the pdf file

In [25]:
event_disposition = pd.read_csv('./911call/chifoia_event_disposition.csv')

In [26]:
event_disposition.head()

   Unnamed: 0  EVENTNUMBER   UNIT DISPOSITION  OCCCNT
0           0   1600100001  2525R          1P       1
1           1   1600100003    NaN        FILE       1
2           2   1600100004    NaN         NaN       1
3           3   1600100005  2433R         19P       1
4           4   1600100006    NaN        FILE       1

In [27]:
event_disposition = event_disposition.drop(columns = ['Unnamed: 0'])

In [28]:
event_disposition

         EVENTNUMBER   UNIT DISPOSITION  OCCCNT
0         1600100001  2525R          1P       1
1         1600100003    NaN        FILE       1
2         1600100004    NaN         NaN       1
3         1600100005  2433R         19P       1
4         1600100006    NaN        FILE       1
5         1600100007   722R         19P       1
6         1600100008    NaN         NaN       1
7         1600100009    NaN        FILE       1
8         1600100010    NaN        FILE       1
9         1600100011   2561         19P       1
10        1600100012    NaN        FILE       1
11        1600100013    NaN        FILE       1
12        1600100014   824R         11P       1
13        1600100016    NaN        FILE       1
14        1600100017    NaN        FILE       1
15        1600100018  1110R         19O       1
16        1600100019  2493R         19P       1
17        1600100020    NaN        FILE       1
18        1600100021  2411R        0820       1
19        1600100022    NaN         NaN       1
20        1600100023  1010R         19P       1
21        1600100024  1802C         19P       1
22        1600100025    NaN        FILE       1
23        1600100026    NaN        FILE       1
24        1600100028    NaN        FILE       1
25        1600100029    NaN        FILE       1
26        1600100030  133HR          5B       1
27        1600100031    NaN        FILE       1
28        1600100032   812R         19B       1
29        1600100033    NaN        FILE       1
...              ...    ...         ...     ...
7563443   1636614494   133R         14P       1
7563444   1636614495    NaN        FILE       1
7563445   1636614497    NaN         NaN       1
7563446   1636614498    NaN        FILE       1
7563447   1636614499    523        0430       1
7563448   1636614500    NaN        FILE       1
7563449   1636614501    NaN         NaN       1
7563450   1636614502    NaN        FILE       1
7563451   1636614503    NaN        FILE       1
7563452   1636614504  1954R        502P       1
7563453   1636614506    NaN        FILE       1
7563454   1636614507    NaN        FILE       1
7563455   1636614508    802         19P       1
7563456   1636614510   1201         19P       1
7563457   1636614511  1824R          6P       1
7563458   1636614513    NaN        FILE       1
7563459   1636614517   4370         19P       1
7563460   1636614520   833R         14P       1
7563461   1636614522   1981         12B       1
7563462   1636614523    NaN        FILE       1
7563463   1636614524    NaN        FILE       1
7563464   1636614525  1834R         19P       1
7563465   1636614527    NaN        FILE       1
7563466   1636614528  1112R          1P       1
7563467   1636614529    NaN        FILE       1
7563468   1636614530    NaN        FILE       1
7563469   1636614531    NaN        FILE       1
7563470   1636614533    NaN        FILE       1
7563471   1636614534  1122R          1P       1
7563472   1636614535    NaN         NaN       1

[7563473 rows x 4 columns]

In [29]:
event_geo = pd.read_csv('./911call/chifoia_event_geo.csv')

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
event_geo.head()

,Unnamed: 0,EVENTNUMBER,TYPE,ATOMPOL,WARD,ZIPCODE,SEGMENTID,INTERSECTID,DISPGROUP,RESPAREA,XCOORD,YCOORD
0,0,1600100001,O,2525.0,NaN,NaN,223938,0,25,2525.0,-87729026.0,41918031.0
1,1,1600100001,S,2525.0,35.0,60639.0,223938,0,25,2525.0,-87729026.0,41918031.0
2,2,1600100002,O,1224.0,NaN,NaN,236608,0,NaN,NaN,-87662528.0,41881528.0
3,3,1600100002,S,1224.0,27.0,60607.0,236608,0,12,1224.0,-87662528.0,41881528.0
4,4,1600100004,O,1215.0,NaN,NaN,236622,0,12,1215.0,-87662682.0,41885411.0

In [32]:
event_geo.loc[event_geo.XCOORD.abs()<100]

,Unnamed: 0,EVENTNUMBER,TYPE,ATOMPOL,WARD,ZIPCODE,SEGMENTID,INTERSECTID,DISPGROUP,RESPAREA,XCOORD,YCOORD
115001,115001,1600514109,S,2031.0,47.0,60625.0,0,82788,20,2031.0,0.0,0.0
186533,186533,1600817308,O,122.0,NaN,NaN,0,72994,1,122.0,0.0,0.0
186534,186534,1600817308,S,122.0,42.0,60606.0,0,72994,1,122.0,0.0,0.0
226754,226754,1601010206,O,1923.0,NaN,NaN,0,80417,19,1923.0,0.0,0.0
226755,226755,1601010206,S,1923.0,44.0,60613.0,0,80417,19,1923.0,0.0,0.0
348379,348379,1601600356,O,114.0,NaN,NaN,0,81642,1,114.0,0.0,0.0
348380,348380,1601600356,S,114.0,42.0,60601.0,0,81642,1,114.0,0.0,0.0
358428,358428,1601607134,O,114.0,NaN,NaN,0,83395,1,114.0,0.0,0.0
358429,358429,1601607134,S,114.0,42.0,60601.0,0,83395,1,114.0,0.0,0.0
375970,375970,1601702550,O,111.0,NaN,NaN,0,73075,1,111.0,0.0,0.0
375971,375971,1601702550,S,111.0,42.0,60601.0,0,73075,1,111.0,0.0,0.0
407883,407883,1601810130,O,111.0,NaN,NaN,0,73075,1,111.0,0.0,0.0
407884,407884,1601810130,S,111.0,42.0,60601.0,0,73075,1,111.0,0.0,0.0
408601,408601,1601810638,O,111.0,NaN,NaN,0,73075,1,111.0,0.0,0.0
408602,408602,1601810638,S,111.0,42.0,60601.0,0,73075,1,111.0,0.0,0.0
431254,431254,1601912624,S,114.0,42.0,60601.0,0,83395,1,114.0,0.0,0.0
447338,447338,1602009104,O,111.0,NaN,NaN,0,73075,1,111.0,0.0,0.0
447339,447339,1602009104,S,111.0,42.0,60601.0,0,73075,1,111.0,0.0,0.0
492574,492574,1602208582,O,122.0,NaN,NaN,0,72992,1,122.0,0.0,0.0
492575,492575,1602208582,S,122.0,42.0,60606.0,0,72992,1,122.0,0.0,0.0
503762,503762,1602300039,O,114.0,NaN,NaN,0,73337,1,114.0,0.0,0.0
503763,503763,1602300039,S,114.0,42.0,60602.0,0,73337,1,114.0,0.0,0.0
527212,527212,1602315828,O,114.0,NaN,NaN,0,73334,1,114.0,0.0,0.0
527213,527213,1602315828,S,114.0,42.0,60601.0,0,73334,1,114.0,0.0,0.0
542327,542327,1602409543,O,111.0,NaN,NaN,0,73075,1,111.0,0.0,0.0
542328,542328,1602409543,S,111.0,42.0,60601.0,0,73075,1,111.0,0.0,0.0
601212,601212,1602703563,O,2031.0,NaN,NaN,0,82788,20,2031.0,0.0,0.0
601213,601213,1602703563,S,2031.0,47.0,60625.0,0,82788,20,2031.0,0.0,0.0
643726,643726,1602902447,O,2031.0,NaN,NaN,0,82788,20,2031.0,0.0,0.0
643727,643727,1602902447,S,2031.0,47.0,60625.0,0,82788,20,2031.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
14897460,705022,1633500285,S,114.0,42.0,60601.0,0,81651,1.0,114.0,0.0,0.0
14902526,710088,1633503967,O,2031.0,NaN,NaN,0,82788,NaN,NaN,0.0,0.0
14902527,710089,1633503967,S,2031.0,47.0,60625.0,0,82788,20.0,2031.0,0.0,0.0
14941003,21743,1633615102,S,122.0,42.0,60606.0,0,72992,001,122.0,0.0,0.0
14944061,24801,1633701419,O,1133.0,NaN,NaN,0,79360,NaN,NaN,0.0,0.0
14944062,24802,1633701419,S,1133.0,28.0,60624.0,0,79360,11,1133.0,0.0,0.0
14968952,49692,1633801726,O,111.0,NaN,NaN,0,73076,NaN,NaN,0.0,0.0
14968953,49693,1633801726,S,111.0,42.0,60601.0,0,73076,1,111.0,0.0,0.0
14991836,72576,1633900813,O,111.0,NaN,NaN,0,73076,NaN,NaN,0.0,0.0
14991837,72577,1633900813,S,111.0,42.0,60601.0,0,73076,1,111.0,0.0,0.0
14993761,74501,1633902044,O,2031.0,NaN,NaN,0,82788,NaN,NaN,0.0,0.0
14993762,74502,1633902044,S,2031.0,47.0,60625.0,0,82788,20,2031.0,0.0,0.0
14993824,74564,1633902091,O,2031.0,NaN,NaN,0,82788,NaN,NaN,0.0,0.0
14993825,74565,1633902091,S,2031.0,47.0,60625.0,0,82788,20,2031.0,0.0,0.0
15027004,107744,1634009837,O,111.0,NaN,NaN,0,73076,NaN,NaN,0.0,0.0
15027005,107745,1634009837,S,111.0,42.0,60601.0,0,73076,1,111.0,0.0,0.0
15036906,117646,1634102198,O,2031.0,NaN,NaN,0,82788,NaN,NaN,0.0,0.0
15036907,117647,1634102198,S,2031.0,47.0,60625.0,0,82788,20,2031.0,0.0,0.0
15208881,289621,1634900393,O,114.0,NaN,NaN,0,81255,NaN,NaN,0.0,0.0
15208882,289622,1634900393,S,114.0,42.0,60604.0,0,81255,1,114.0,0.0,0.0
15328247,408987,1635406896,O,111.0,NaN,NaN,0,73076,NaN,NaN,0.0,0.0
15328248,408988,1635406896,S,111.0,42.0,60601.0,0,73076,001,111.0,0.0,0.0
15371459,452199,1635605422,O,111.0,NaN,NaN,0,73076,NaN,NaN,0.0,0.0
15371460,452200,1635605422,S,111.0,42.0,60601.0,0,73076,1,111.0,0.0,0.0
15434414,515154,1635815677,O,2031.0,NaN,NaN,0,82788,NaN,NaN,0.0,0.0
15434415,515155,1635815677,S,2031.0,47.0,60625.0,0,82788,20,2031.0,0.0,0.0
15471216,551956,1636008798,O,1133.0,NaN,NaN,0,79359,NaN,NaN,0.0,0.0
15471217,551957,1636008798,S,1133.0,28.0,60624.0,0,79359,11,1133.0,0.0,0.0
15577667,658407,1636510242,O,122.0,NaN,NaN,0,76186,NaN,NaN,0.0,0.0
15577668,658408,1636510242,S,122.0,42.0,60606.0,0,76186,1,122.0,0.0,0.0

The XCORD and YCORD is 1E6 times of the lat and lon.

In [33]:
event_geo = event_geo.drop(columns =['Unnamed: 0'])

In [34]:
event_geo.head()

,EVENTNUMBER,TYPE,ATOMPOL,WARD,ZIPCODE,SEGMENTID,INTERSECTID,DISPGROUP,RESPAREA,XCOORD,YCOORD
0,1600100001,O,2525.0,NaN,NaN,223938,0,25,2525.0,-87729026.0,41918031.0
1,1600100001,S,2525.0,35.0,60639.0,223938,0,25,2525.0,-87729026.0,41918031.0
2,1600100002,O,1224.0,NaN,NaN,236608,0,NaN,NaN,-87662528.0,41881528.0
3,1600100002,S,1224.0,27.0,60607.0,236608,0,12,1224.0,-87662528.0,41881528.0
4,1600100004,O,1215.0,NaN,NaN,236622,0,12,1215.0,-87662682.0,41885411.0

In [35]:
event_geo.XCOORD = event_geo.XCOORD/1000000
event_geo.YCOORD = event_geo.YCOORD/1000000

In [36]:
event_geo.head()

,EVENTNUMBER,TYPE,ATOMPOL,WARD,ZIPCODE,SEGMENTID,INTERSECTID,DISPGROUP,RESPAREA,XCOORD,YCOORD
0,1600100001,O,2525.0,NaN,NaN,223938,0,25,2525.0,-87.729026,41.918031
1,1600100001,S,2525.0,35.0,60639.0,223938,0,25,2525.0,-87.729026,41.918031
2,1600100002,O,1224.0,NaN,NaN,236608,0,NaN,NaN,-87.662528,41.881528
3,1600100002,S,1224.0,27.0,60607.0,236608,0,12,1224.0,-87.662528,41.881528
4,1600100004,O,1215.0,NaN,NaN,236622,0,12,1215.0,-87.662682,41.885411

In [2]:
event_history_header = pd.read_csv('./911call/chifoia_event_history_header.csv')

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (22,26,46,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
event_history_header.head()

,Unnamed: 0,EVENTNUMBER,RECDDATE,RECDDATEHN,ENTRYDATE,ENTRYDATEHN,CLOSEDATE,CLOSEDATEHN,STATUS,ENTRYPERSID,...,ACKDATE,ENRDATE,ONSDATE,CANCELEDFLAG,ADDROFOCCOVERRIDEFLAG,DISPATCHED_FLAG,DUPLICATE_FLAG,FILE_ADVISED_FLAG,CASE_NUMBER_FLAG,WIRELESS_FLAG
0,0,1600100001,12/31/2015 23:58:16,71,01/01/2016 00:00:01,8,01/01/2016 00:39:10,78,CLS,C307502,...,01/01/2016 00:30:30,01/01/2016 00:34:34,01/01/2016 00:35:44,N,N,N,N,N,N,N
1,1,1600100002,NaN,0,01/01/2016 00:00:02,74,01/01/2016 21:01:15,46,CLS,D106922,...,NaN,NaN,NaN,N,N,N,N,Y,N,N
2,2,1600100003,12/31/2015 23:57:37,44,01/01/2016 00:00:10,20,01/01/2016 00:00:10,20,CLS,C606057,...,NaN,NaN,NaN,N,Y,N,N,Y,N,N
3,3,1600100004,12/31/2015 23:59:09,42,01/01/2016 00:00:12,97,01/01/2016 00:00:12,97,CLS,C100957,...,NaN,NaN,NaN,N,N,N,N,Y,N,N
4,4,1600100005,12/31/2015 23:59:25,97,01/01/2016 00:00:16,69,01/01/2016 00:01:05,29,CLS,C602883,...,NaN,NaN,NaN,N,N,N,N,N,N,N

In [4]:
event_history_header = event_history_header.drop(columns =['Unnamed: 0'])

In [6]:
event_history_header.RECDDATE = pd.to_datetime(event_history_header.RECDDATE,format = '%m/%d/%Y %H:%M:%S', errors='coerce')
event_history_header.ENTRYDATE = pd.to_datetime(event_history_header.ENTRYDATE,format = '%m/%d/%Y %H:%M:%S', errors='coerce')
event_history_header.CLOSEDATE = pd.to_datetime(event_history_header.CLOSEDATE,format = '%m/%d/%Y %H:%M:%S', errors='coerce')
event_history_header.ACKDATE = pd.to_datetime(event_history_header.ACKDATE,format = '%m/%d/%Y %H:%M:%S', errors='coerce')
event_history_header.ENRDATE = pd.to_datetime(event_history_header.ENRDATE,format = '%m/%d/%Y %H:%M:%S', errors='coerce')
event_history_header.ONSDATE = pd.to_datetime(event_history_header.ONSDATE,format = '%m/%d/%Y %H:%M:%S', errors='coerce')

In [7]:
event_history_header

,EVENTNUMBER,RECDDATE,RECDDATEHN,ENTRYDATE,ENTRYDATEHN,CLOSEDATE,CLOSEDATEHN,STATUS,ENTRYPERSID,ENTRYWKS,...,ACKDATE,ENRDATE,ONSDATE,CANCELEDFLAG,ADDROFOCCOVERRIDEFLAG,DISPATCHED_FLAG,DUPLICATE_FLAG,FILE_ADVISED_FLAG,CASE_NUMBER_FLAG,WIRELESS_FLAG
0,1600100001,2015-12-31 23:58:16,71,2016-01-01 00:00:01,8,2016-01-01 00:39:10,78,CLS,C307502,PD53,...,2016-01-01 00:30:30,2016-01-01 00:34:34,2016-01-01 00:35:44,N,N,N,N,N,N,N
1,1600100002,NaT,0,2016-01-01 00:00:02,74,2016-01-01 21:01:15,46,CLS,D106922,PDT96,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
2,1600100003,2015-12-31 23:57:37,44,2016-01-01 00:00:10,20,2016-01-01 00:00:10,20,CLS,C606057,PCT59,...,NaT,NaT,NaT,N,Y,N,N,Y,N,N
3,1600100004,2015-12-31 23:59:09,42,2016-01-01 00:00:12,97,2016-01-01 00:00:12,97,CLS,C100957,PCT14,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
4,1600100005,2015-12-31 23:59:25,97,2016-01-01 00:00:16,69,2016-01-01 00:01:05,29,CLS,C602883,PCT23,...,NaT,NaT,NaT,N,N,N,N,N,N,N
5,1600100006,2015-12-31 23:59:56,59,2016-01-01 00:00:17,36,2016-01-01 00:00:17,36,CLS,C8782,PCT39,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
6,1600100007,2015-12-31 23:59:12,5,2016-01-01 00:00:25,35,2016-01-01 00:39:43,35,CLS,C99440,PCT54,...,2016-01-01 00:01:15,2016-01-01 00:00:45,NaT,N,N,N,N,N,N,N
7,1600100008,2016-01-01 00:00:20,59,2016-01-01 00:00:27,50,2016-01-01 00:00:27,44,CLS,C113107,PCT38,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
8,1600100009,2016-01-01 00:00:09,0,2016-01-01 00:00:28,8,2016-01-01 00:00:28,7,CLS,C606055,PCT25,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
9,1600100010,2015-12-31 23:57:26,94,2016-01-01 00:00:28,84,2016-01-01 00:00:28,84,CLS,C307554,PCT11,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
10,1600100011,2015-12-31 23:59:46,27,2016-01-01 00:00:34,57,2016-01-01 00:25:45,6,CLS,C99593,PCTS34,...,NaT,NaT,NaT,N,N,N,N,N,N,N
11,1600100012,2016-01-01 00:00:24,80,2016-01-01 00:00:36,36,2016-01-01 00:00:36,35,CLS,C839505,PD124,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
12,1600100013,2015-12-31 23:59:52,81,2016-01-01 00:00:40,81,2016-01-01 00:00:40,81,CLS,C558501,PCT22,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
13,1600100014,2016-01-01 00:00:04,26,2016-01-01 00:00:44,98,2016-01-01 00:28:56,22,CLS,C549511,PD32,...,2016-01-01 00:06:15,2016-01-01 00:06:12,2016-01-01 00:20:42,N,N,N,N,N,N,N
14,1600100015,2015-12-31 23:58:58,38,2016-01-01 00:00:55,28,2016-01-01 00:01:39,32,CLS,C557037,PD126,...,NaT,NaT,NaT,N,N,N,Y,N,N,N
15,1600100016,2016-01-01 00:00:42,50,2016-01-01 00:00:56,53,2016-01-01 00:00:56,52,CLS,C555107,PCT13,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
16,1600100017,2015-12-31 23:59:25,15,2016-01-01 00:00:58,24,2016-01-01 00:00:58,24,CLS,C106923,PD123,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
17,1600100018,2016-01-01 00:00:30,80,2016-01-01 00:00:58,42,2016-01-01 00:07:34,80,CLS,C108849,PDT93,...,2016-01-01 00:07:32,NaT,NaT,N,N,N,N,N,N,N
18,1600100019,2015-12-31 23:59:48,35,2016-01-01 00:01:00,16,2016-01-01 00:01:32,89,CLS,C113753,PCT12,...,NaT,NaT,NaT,N,N,N,N,N,N,N
19,1600100020,2016-01-01 00:00:25,60,2016-01-01 00:01:01,60,2016-01-01 00:01:01,60,CLS,C307554,PCT11,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
20,1600100021,2015-12-31 23:58:29,6,2016-01-01 00:01:03,32,2016-01-01 02:17:33,64,CLS,C555743,PD60,...,2016-01-01 00:06:34,2016-01-01 01:23:24,NaT,N,N,N,N,N,N,N
21,1600100022,2016-01-01 00:00:33,53,2016-01-01 00:01:04,13,2016-01-01 00:01:04,13,CLS,C552948,PCT64,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
22,1600100023,2016-01-01 00:00:31,50,2016-01-01 00:01:07,87,2016-01-01 00:09:19,80,CLS,C75741,PCT65,...,NaT,NaT,NaT,N,N,N,N,N,N,N
23,1600100024,NaT,0,2016-01-01 00:01:10,8,2016-01-01 05:31:14,93,CLS,D103674,PDS51,...,NaT,NaT,2016-01-01 00:01:10,N,Y,N,N,N,N,N
24,1600100025,2015-12-31 23:59:35,9,2016-01-01 00:01:10,72,2016-01-01 00:01:10,71,CLS,C112815,PCT112,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
25,1600100026,2016-01-01 00:00:51,19,2016-01-01 00:01:14,42,2016-01-01 00:01:14,42,CLS,C606057,PCT59,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
26,1600100027,2016-01-01 00:00:18,30,2016-01-01 00:01:19,25,2016-01-01 00:02:21,21,CLS,C100963,PCT49,...,NaT,NaT,NaT,N,N,N,Y,N,N,N
27,1600100028,2015-12-31 23:46:53,78,2016-01-01 00:01:22,76,2016-01-01 00:01:22,75,CLS,C100963,PCT49,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
28,1600100029,2016-01-01 00:00:52,77,2016-01-01 00:01:24,31,2016-01-01 00:01:24,31,CLS,C559905,PCT68,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
29,1600100030,2015-12-31 23:58:20,71,2016-01-01 00:01:26,52,2016-01-01 00:22:48,16,CLS,C108840,PCT55,...,2016-01-01 00:12:34,NaT,NaT,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10519025,1636614506,2016-12-31 23:56:23,57,2016-12-31 23:57:09,40,2016-12-31 23:57:09,40,CLS,C541234,PCT23,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
10519026,1636614507,2016-12-31 23:57:03,16,2016-12-31 23:57:19,6,2016-12-31 23:57:19,6,CLS,C112815,PD52,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
10519027,1636614508,2016-12-31 23:56:34,1,2016-12-31 23:57:24,72,2017-01-01 00:37:42,42,CLS,C31084,PD124,...,NaT,NaT,NaT,N,N,Y,N,N,N,N
10519028,1636614509,NaT,0,2016-12-31 23:57:30,66,2017-01-01 00:15:14,43,CLS,PC0AT99,PMDT2736,...,NaT,NaT,2016-12-31 23:57:30,N,Y,Y,N,N,N,N
10519029,1636614510,2016-12-31 23:57:14,50,2016-12-31 23:57:33,94,2016-12-31 23:58:05,18,CLS,C560944,PCT45,...,NaT,NaT,NaT,N,N,Y,N,N,N,N
10519030,1636614511,NaT,0,2016-12-31 23:57:45,75,2017-01-01 01:38:39,85,CLS,C99440,PCT65,...,2017-01-01 00:38:20,2017-01-01 01:05:22,2017-01-01 01:19:12,N,N,Y,N,N,N,N
10519031,1636614512,NaT,0,2016-12-31 23:57:47,45,2017-01-01 01:54:18,14,CLS,D12324,PDT101,...,NaT,NaT,2016-12-31 23:57:47,N,Y,Y,N,N,N,N
10519032,1636614513,2016-12-31 23:53:48,21,2016-12-31 23:57:51,73,2016-12-31 23:57:51,73,CLS,C103688,PDT92,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
10519033,1636614514,2016-12-31 23:55:28,63,2016-12-31 23:57:59,87,2016-12-31 23:58:19,1,CLS,C118606,PCT13,...,NaT,NaT,NaT,N,N,N,Y,N,N,N
10519034,1636614515,2016-12-31 23:54:26,13,2016-12-31 23:58:02,26,2016-12-31 23:59:40,16,CLS,C839505,PDT98,...,NaT,NaT,NaT,N,N,N,Y,N,N,N
10519035,1636614516,2016-12-31 23:56:29,80,2016-12-31 23:58:11,79,2016-12-31 23:58:51,35,CLS,C541741,PCT10,...,NaT,NaT,NaT,N,N,N,Y,N,N,N
10519036,1636614517,NaT,0,2016-12-31 23:58:18,98,2017-01-01 00:48:11,50,CLS,D554930,PD40,...,NaT,NaT,2016-12-31 23:58:19,N,Y,Y,N,N,N,N
10519037,1636614518,NaT,0,2016-12-31 23:58:19,65,2017-01-01 04:02:00,10,CLS,D12324,PDT101,...,NaT,NaT,2016-12-31 23:58:19,N,Y,Y,N,N,N,N
10519038,1636614519,NaT,0,2016-12-31 23:58:31,44,2017-01-01 00:22:39,91,CLS,PC0Z094,PMDT2758,...,NaT,NaT,2016-12-31 23:58:31,N,N,Y,N,N,N,N
10519039,1636614520,2016-12-31 23:57:21,10,2016-12-31 23:58:34,80,2017-01-01 00:19:17,15,CLS,A502909,PADM20,...,2016-12-31 23:59:38,2016-12-31 23:59:56,2017-01-01 00:15:56,N,N,Y,N,N,N,N
10519040,1636614521,NaT,0,2016-12-31 23:58:40,7,2017-01-01 00:33:54,96,CLS,PC0AV21,PMDT6287,...,NaT,NaT,2016-12-31 23:58:40,N,Y,Y,N,N,N,N
10519041,1636614522,2016-12-31 23:56:59,2,2016-12-31 23:58:43,85,2017-01-01 00:08:17,62,CLS,C602883,PCT35,...,NaT,NaT,NaT,N,N,Y,N,N,N,N
10519042,1636614523,2016-12-31 23:56:14,50,2016-12-31 23:58:48,54,2016-12-31 23:58:48,54,CLS,C559902,PCT26,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
10519043,1636614524,2016-12-31 23:57:00,61,2016-12-31 23:58:50,69,2016-12-31 23:58:50,69,CLS,C106936,PD60,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
10519044,1636614525,2016-12-31 23:57:09,8,2016-12-31 23:59:03,92,2017-01-01 00:58:52,51,CLS,C22412,PD126,...,2017-01-01 00:06:10,NaT,NaT,N,N,Y,N,N,N,N
10519045,1636614526,NaT,0,2016-12-31 23:59:06,78,2017-01-01 00:22:46,37,CLS,PC0G003,PMDT2934,...,NaT,NaT,2016-12-31 23:59:06,N,Y,Y,N,N,N,N
10519046,1636614527,2016-12-31 23:58:42,19,2016-12-31 23:59:08,83,2016-12-31 23:59:08,83,CLS,C550398,PD32,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
10519047,1636614528,2016-12-31 23:53:22,8,2016-12-31 23:59:10,30,2017-01-01 00:33:01,93,CLS,C98606,PD123,...,2016-12-31 23:59:55,2017-01-01 00:16:54,2017-01-01 00:16:57,N,N,Y,N,N,N,N
10519048,1636614529,2016-12-31 23:58:05,40,2016-12-31 23:59:14,47,2016-12-31 23:59:14,47,CLS,C100995,PCT46,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
10519049,1636614530,2016-12-31 23:57:02,17,2016-12-31 23:59:17,30,2016-12-31 23:59:17,30,CLS,C117193,PDT93,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
10519050,1636614531,2016-12-31 23:58:12,57,2016-12-31 23:59:26,8,2016-12-31 23:59:26,8,CLS,C108844,PCT48,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
10519051,1636614532,NaT,0,2016-12-31 23:59:26,81,2016-12-31 23:59:28,80,CLS,D559877,PADM19,...,NaT,NaT,2016-12-31 23:59:26,N,Y,Y,N,N,N,N
10519052,1636614533,2016-12-31 23:59:06,86,2016-12-31 23:59:34,38,2016-12-31 23:59:34,38,CLS,C108833,PCT39,...,NaT,NaT,NaT,N,N,N,N,Y,N,N
10519053,1636614534,2016-12-31 23:57:29,58,2016-12-31 23:59:40,68,2017-01-01 00:17:23,5,CLS,C604266,PCT33,...,2016-12-31 23:59:58,NaT,NaT,N,N,Y,N,N,N,N
10519054,1636614535,2016-12-31 23:59:24,85,2016-12-31 23:59:41,84,2016-12-31 23:59:41,83,CLS,C560948,PCT27,...,NaT,NaT,NaT,N,N,N,N,Y,N,N

In [8]:
event_history_header.ACKDATE.max()

Timestamp('2017-09-01 20:21:23')

In [2]:
event_personnel_link = pd.read_csv('./911call/chifoia_event_personnel_link.csv')

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
event_personnel_link.head()

,Unnamed: 0,EVENTNUMBER,UNIT,UNAOCCCNT,PERSID,UNITLOGONDATE,UNITLOGOFFDATE
0,0,1600100001,2525R,1,17029,NaN,NaN
1,1,1600100001,2525R,1,3325,NaN,NaN
2,2,1600100001,2535R,2,18494,NaN,NaN
3,3,1600100001,2535R,2,9427,NaN,NaN
4,4,1600100005,2433R,1,10542,NaN,NaN

In [5]:
event_personnel_link = event_personnel_link.drop(columns=['Unnamed: 0'])

In [6]:
event_personnel_link

          EVENTNUMBER   UNIT  UNAOCCCNT PERSID  UNITLOGONDATE  UNITLOGOFFDATE
0          1600100001  2525R          1  17029            NaN             NaN
1          1600100001  2525R          1   3325            NaN             NaN
2          1600100001  2535R          2  18494            NaN             NaN
3          1600100001  2535R          2   9427            NaN             NaN
4          1600100005  2433R          1  10542            NaN             NaN
5          1600100005  2433R          1   7476            NaN             NaN
6          1600100007   722R          1  17155            NaN             NaN
7          1600100007   722R          1  19221            NaN             NaN
8          1600100014   822R          2  18876            NaN             NaN
9          1600100014   822R          2   8526            NaN             NaN
10         1600100014   824R          1  14029            NaN             NaN
11         1600100014   824R          1  18655            NaN             NaN
12         1600100019  2493R          1  13658            NaN             NaN
13         1600100021  2411R          1  17136            NaN             NaN
14         1600100021  2411R          1  17641            NaN             NaN
15         1600100021  2411R          2  17136            NaN             NaN
16         1600100021  2411R          2  17641            NaN             NaN
17         1600100032   811R          2   4484            NaN             NaN
18         1600100032   811R          2   7227            NaN             NaN
19         1600100032   812R          1  17804            NaN             NaN
20         1600100032   812R          1   5296            NaN             NaN
21         1600100041  1872R          1  14530            NaN             NaN
22         1600100041  1872R          1  19560            NaN             NaN
23         1600100047   732R          1  12828            NaN             NaN
24         1600100047   732R          1  17443            NaN             NaN
25         1600100050    522          1  12936            NaN             NaN
26         1600100050    522          1  17455            NaN             NaN
27         1600100051  1532R          1  11819            NaN             NaN
28         1600100051  1532R          1   6377            NaN             NaN
29         1600100055  1712R          1  19211            NaN             NaN
...               ...    ...        ...    ...            ...             ...
10411659   1636614511  1824R          1  16381            NaN             NaN
10411660   1636614511  1824R          1  18393            NaN             NaN
10411661   1636614511  1824R          2  16381            NaN             NaN
10411662   1636614511  1824R          2  18393            NaN             NaN
10411663   1636614511  1824R          3  16381            NaN             NaN
10411664   1636614511  1824R          3  18393            NaN             NaN
10411665   1636614511  1824R          4  16381            NaN             NaN
10411666   1636614511  1824R          4  18393            NaN             NaN
10411667   1636614511  1824R          5  16381            NaN             NaN
10411668   1636614511  1824R          5  18393            NaN             NaN
10411669   1636614511  1824R          6  16381            NaN             NaN
10411670   1636614511  1824R          6  18393            NaN             NaN
10411671   1636614511  1824R          7  16381            NaN             NaN
10411672   1636614511  1824R          7  18393            NaN             NaN
10411673   1636614511  1824R          8  16381            NaN             NaN
10411674   1636614511  1824R          8  18393            NaN             NaN
10411675   1636614519  2513R          1  12720            NaN             NaN
10411676   1636614519  2513R          1   8662            NaN             NaN
10411677   1636614520   833R          1  12809            NaN             NaN
10411678   1636614520   833R          1   5774            NaN             NaN
10411679   1636614520   834R          2  19839            NaN             NaN
10411680   1636614520   834R          2   4674            NaN             NaN
10411681   1636614521  2534R          1  16948            NaN             NaN
10411682   1636614521  2534R          2  16948            NaN             NaN
10411683   1636614521  2534R          3  16948            NaN             NaN
10411684   1636614525  1834R          1   8749            NaN             NaN
10411685   1636614525  1834R          1   9091            NaN             NaN
10411686   1636614526  2511R          1  18488            NaN             NaN
10411687   1636614526  2511R          1   4724            NaN             NaN
10411688   1636614532   720R          1   2162            NaN             NaN

[10411689 rows x 6 columns]

In [7]:
event_segment = pd.read_csv('./911call/chifoia_event_segment.csv')

In [8]:
event_segment.head()

,Unnamed: 0,EVENTNUMBER,OCCCNT,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,CREATIONFLAG,SOURCEFLAG,WORKSTATION,PERSID,UNIT,UNITLOGONDATE
0,0,1600100001,0,12/31/2015 23:58:16,NaN,NaN,NaN,REC,12/31/2015 23:58:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1600100001,10001,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1600100001,10002,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1600100001,10003,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1600100001,10004,NaN,NaN,NaN,NaN,RMKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
event_segment = event_segment.drop(columns=['Unnamed: 0'])

In [ ]:
## Date time convert later

In [2]:
event_unit = pd.read_csv('./911call/chifoia_event_unit.csv')

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
event_unit.head()

,Unnamed: 0,EVENTNUMBER,UNIT,UNAOCCCNT,OCCCNT,STATUSNAME,CREATIONDATE,OVERRIDEDATE,STACKEDFLAG
0,0,1600100001,2525R,1,1,DIS,01/01/2016 00:30:17,NaN,NaN
1,1,1600100001,2525R,1,2,ACK,01/01/2016 00:30:30,NaN,NaN
2,2,1600100001,2525R,1,3,ENR,01/01/2016 00:35:42,NaN,NaN
3,3,1600100001,2525R,1,4,ONS,01/01/2016 00:35:44,NaN,NaN
4,4,1600100001,2525R,1,5,AV,01/01/2016 00:39:10,NaN,NaN

In [5]:
event_unit = event_unit.drop(columns=['Unnamed: 0'])

In [6]:
event_unit.head()

,EVENTNUMBER,UNIT,UNAOCCCNT,OCCCNT,STATUSNAME,CREATIONDATE,OVERRIDEDATE,STACKEDFLAG
0,1600100001,2525R,1,1,DIS,01/01/2016 00:30:17,NaN,NaN
1,1600100001,2525R,1,2,ACK,01/01/2016 00:30:30,NaN,NaN
2,1600100001,2525R,1,3,ENR,01/01/2016 00:35:42,NaN,NaN
3,1600100001,2525R,1,4,ONS,01/01/2016 00:35:44,NaN,NaN
4,1600100001,2525R,1,5,AV,01/01/2016 00:39:10,NaN,NaN

In [8]:
unit_history_header = pd.read_csv('./911call/chifoia_unit_history_header.csv')

In [9]:
unit_history_header.head()

,Unnamed: 0,UNIT,DISPGROUP,UNITLOGONDATE,UNITLOGONDATEHN,UNITLOGOFFDATE,UNITLOGOFFDATEHN,SEGOCCCNTHI,RESPAREA
0,0,1000X,010,01/08/2016 16:10:30,10,01/09/2016 01:20:22,10,3,NaN
1,1,1000X,010,01/14/2016 09:36:24,74,01/14/2016 17:58:17,6,5,NaN
2,2,1000X,010,01/15/2016 15:49:41,35,01/16/2016 00:46:30,4,11,NaN
3,3,1000X,010,01/21/2016 12:09:20,77,01/21/2016 15:46:39,95,4,NaN
4,4,1000X,010,01/22/2016 16:07:52,18,01/23/2016 01:17:45,93,8,NaN

In [10]:
unit_history_header = unit_history_header.drop(columns=['Unnamed: 0'])

In [11]:
unit_history_header.head()

,UNIT,DISPGROUP,UNITLOGONDATE,UNITLOGONDATEHN,UNITLOGOFFDATE,UNITLOGOFFDATEHN,SEGOCCCNTHI,RESPAREA
0,1000X,010,01/08/2016 16:10:30,10,01/09/2016 01:20:22,10,3,NaN
1,1000X,010,01/14/2016 09:36:24,74,01/14/2016 17:58:17,6,5,NaN
2,1000X,010,01/15/2016 15:49:41,35,01/16/2016 00:46:30,4,11,NaN
3,1000X,010,01/21/2016 12:09:20,77,01/21/2016 15:46:39,95,4,NaN
4,1000X,010,01/22/2016 16:07:52,18,01/23/2016 01:17:45,93,8,NaN

In [12]:
unit_personnel_link = pd.read_csv('./911call/chifoia_unit_personnel_link.csv')

In [13]:
unit_personnel_link.head()

   Unnamed: 0 PERSID   UNIT        UNITLOGONDATE       UNITLOGOFFDATE
0           0  10000  706DR  01/20/2016 21:53:22  01/20/2016 22:18:46
1           1  10000  706DR  01/21/2016 21:36:35  01/22/2016 03:42:36
2           2  10000  706DR  01/25/2016 21:40:55  01/26/2016 05:18:39
3           3  10000  706DR  01/26/2016 21:37:56  01/26/2016 22:01:49
4           4  10000  706DR  01/26/2016 23:05:20  01/27/2016 05:37:23

In [14]:
unit_segment = pd.read_csv('./911call/chifoia_unit_segment.csv')

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
unit_segment.head()

,Unnamed: 0,UNIT,OCCCNT,UNITLOGONDATE,CREATIONDATE,CREATIONDATEHN,OVERRIDEDATE,OVERRIDEDATEHN,SEGMENTNAME,SEGMENTDATE,SEGMENTDATEHN,WORKSTATION,PERSID,EVENTNUMBER,CREATIONFLAG,SOURCEFLAG
0,0,1000X,10,01/15/2016 15:49:41,01/15/2016 23:21:29,54,NaN,0,REMINQ,01/15/2016 23:21:29,54,PMDT2404,PC0G213,,O,NaN
1,1,1000X,11,01/15/2016 15:49:41,01/16/2016 00:46:30,4,NaN,0,LOGOFF,01/16/2016 00:46:30,4,PMDT2404,PC0G213,NaN,O,NaN
2,2,1000X,1,01/08/2016 16:10:30,01/08/2016 16:10:30,10,NaN,0,LOGON,01/08/2016 16:10:30,10,PMDT2404,PC0G213,NaN,O,NaN
3,3,1000X,1,01/14/2016 09:36:24,01/14/2016 09:36:24,74,NaN,0,LOGON,01/14/2016 09:36:24,74,PMDT2404,PC0G213,NaN,O,NaN
4,4,1000X,1,01/15/2016 15:49:41,01/15/2016 15:49:41,35,NaN,0,LOGON,01/15/2016 15:49:41,35,PMDT2404,PC0G213,NaN,O,NaN

In [ ]:
## There might be some problems in the csv files. Next time read txt file directly!!!