In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
pd_temp = pd.read_csv('./911call/chifoia_unit_personnel_link/chifoia_unit_personnel_link_01012017.txt',sep="|",skiprows=0,header=0)

In [3]:
pd_temp.head()

  PROMPT PERSID  UNIT        UNITLOGONDATE       UNITLOGOFFDATE
0           011  2293  01/11/2017 06:09:37  01/11/2017 14:07:44
1         10000   712  01/10/2017 16:07:15  01/10/2017 23:47:56
2         10000   726  01/09/2017 16:01:43  01/09/2017 23:53:09
3         10000   732  01/05/2017 16:08:52  01/05/2017 23:59:47
4         10000   732  01/11/2017 16:15:31  01/11/2017 23:28:23

In [5]:
pd_temp.columns

Index(['PROMPT PERSID', 'UNIT', 'UNITLOGONDATE', 'UNITLOGOFFDATE'], dtype='object')

In [6]:
pd_temp.head()

  PROMPT PERSID  UNIT        UNITLOGONDATE       UNITLOGOFFDATE
0           011  2293  01/11/2017 06:09:37  01/11/2017 14:07:44
1         10000   712  01/10/2017 16:07:15  01/10/2017 23:47:56
2         10000   726  01/09/2017 16:01:43  01/09/2017 23:53:09
3         10000   732  01/05/2017 16:08:52  01/05/2017 23:59:47
4         10000   732  01/11/2017 16:15:31  01/11/2017 23:28:23

In [7]:
pdf = pd.DataFrame()

In [8]:
path = './911call/chifoia_unit_personnel_link/'
files= os.listdir(path)
files

['chifoia_unit_personnel_link_01012016.txt',
 'chifoia_unit_personnel_link_01012017.txt',
 'chifoia_unit_personnel_link_02012016.txt',
 'chifoia_unit_personnel_link_02012017.txt',
 'chifoia_unit_personnel_link_03012016.txt',
 'chifoia_unit_personnel_link_03012017.txt',
 'chifoia_unit_personnel_link_04012016.txt',
 'chifoia_unit_personnel_link_04012017.txt',
 'chifoia_unit_personnel_link_05012016.txt',
 'chifoia_unit_personnel_link_05012017.txt',
 'chifoia_unit_personnel_link_06012016.txt',
 'chifoia_unit_personnel_link_06012017.txt',
 'chifoia_unit_personnel_link_07012016.txt',
 'chifoia_unit_personnel_link_07012017.txt',
 'chifoia_unit_personnel_link_08012016.txt',
 'chifoia_unit_personnel_link_08012017.txt',
 'chifoia_unit_personnel_link_09012016.txt',
 'chifoia_unit_personnel_link_10012016.txt',
 'chifoia_unit_personnel_link_11012016.txt',
 'chifoia_unit_personnel_link_12012016.txt']

In [9]:
for file in files:
    pd_temp = pd.read_csv(path+file,sep="|",skiprows=1,header=None)
    pd_temp.columns = ['PERSID', 'UNIT', 'UNITLOGONDATE', 'UNITLOGOFFDATE']
    print(pd_temp.shape)
    pdf = pd.concat([pdf,pd_temp])
    print(pdf.shape)

(32660, 4)
(32660, 4)
(128523, 4)
(161183, 4)
(33258, 4)
(194441, 4)
(116579, 4)
(311020, 4)
(36382, 4)
(347402, 4)
(128447, 4)
(475849, 4)
(33747, 4)
(509596, 4)
(118321, 4)
(627917, 4)
(36224, 4)
(664141, 4)
(127855, 4)
(791996, 4)
(53775, 4)
(845771, 4)
(117992, 4)
(963763, 4)
(115109, 4)
(1078872, 4)
(124637, 4)
(1203509, 4)
(113313, 4)
(1316822, 4)
(123401, 4)
(1440223, 4)
(117620, 4)
(1557843, 4)
(120143, 4)
(1677986, 4)
(110869, 4)
(1788855, 4)
(110941, 4)
(1899796, 4)

In [10]:
pdf.head()

  PERSID   UNIT        UNITLOGONDATE       UNITLOGOFFDATE
0  10000  706DR  01/20/2016 21:53:22  01/20/2016 22:18:46
1  10000  706DR  01/21/2016 21:36:35  01/22/2016 03:42:36
2  10000  706DR  01/25/2016 21:40:55  01/26/2016 05:18:39
3  10000  706DR  01/26/2016 21:37:56  01/26/2016 22:01:49
4  10000  706DR  01/26/2016 23:05:20  01/27/2016 05:37:23

In [11]:
pdf.to_csv('./911call/chifoia_unit_personnel_link.csv')