In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
pd_event_cross_reference_temp = pd.read_csv('./911call/chifoia_event_cross_reference/chifoia_event_cross_reference_01012017.txt',sep="|",skiprows=1,header=None)

In [3]:
pd_event_cross_reference_temp.head()

            0           1    2
0  1700100003   163662216  911
1  1700100004  1700100107  DUP
2  1700100004  1700100208  DUP
3  1700100004  1700100238  DUP
4  1700100004  1700100247  DUP

In [4]:
pd_event_cross_reference_temp.columns  = ['EVENTNUMBER', 'CROSSEVENTNUMBER', 'CROSSTYPEFLAG']

In [5]:
pd_event_cross_reference_temp.head()

   EVENTNUMBER  CROSSEVENTNUMBER CROSSTYPEFLAG
0   1700100003         163662216           911
1   1700100004        1700100107           DUP
2   1700100004        1700100208           DUP
3   1700100004        1700100238           DUP
4   1700100004        1700100247           DUP

In [6]:
pd_event_cross_reference = pd.DataFrame()

In [7]:
path = './911call/chifoia_event_cross_reference/'
files= os.listdir(path)
files

['chifoia_event_cross_reference_01012016.txt',
 'chifoia_event_cross_reference_01012017.txt',
 'chifoia_event_cross_reference_02012016.txt',
 'chifoia_event_cross_reference_02012017.txt',
 'chifoia_event_cross_reference_03012016.txt',
 'chifoia_event_cross_reference_03012017.txt',
 'chifoia_event_cross_reference_04012016.txt',
 'chifoia_event_cross_reference_04012017.txt',
 'chifoia_event_cross_reference_05012016.txt',
 'chifoia_event_cross_reference_05012017.txt',
 'chifoia_event_cross_reference_06012016.txt',
 'chifoia_event_cross_reference_06012017.txt',
 'chifoia_event_cross_reference_07012016.txt',
 'chifoia_event_cross_reference_07012017.txt',
 'chifoia_event_cross_reference_08012016.txt',
 'chifoia_event_cross_reference_08012017.txt',
 'chifoia_event_cross_reference_09012016.txt',
 'chifoia_event_cross_reference_10012016.txt',
 'chifoia_event_cross_reference_11012016.txt',
 'chifoia_event_cross_reference_12012016.txt']

In [8]:
for file in files:
    pd_event_cross_reference_temp = pd.read_csv(path+file,sep="|",skiprows=1,header=None)
    pd_event_cross_reference_temp.columns = ['EVENTNUMBER', 'CROSSEVENTNUMBER', 'CROSSTYPEFLAG']
    print(pd_event_cross_reference_temp.shape)
    pd_event_cross_reference = pd.concat([pd_event_cross_reference,pd_event_cross_reference_temp])
    print(pd_event_cross_reference.shape)

(104531, 3)
(104531, 3)
(108443, 3)
(212974, 3)
(100566, 3)
(313540, 3)
(101449, 3)
(414989, 3)
(119797, 3)
(534786, 3)
(110656, 3)
(645442, 3)
(118951, 3)
(764393, 3)
(123611, 3)
(888004, 3)
(142298, 3)
(1030302, 3)
(134278, 3)
(1164580, 3)
(148538, 3)
(1313118, 3)
(147597, 3)
(1460715, 3)
(153572, 3)
(1614287, 3)
(148486, 3)
(1762773, 3)
(146555, 3)
(1909328, 3)
(140818, 3)
(2050146, 3)
(137563, 3)
(2187709, 3)
(133154, 3)
(2320863, 3)
(119033, 3)
(2439896, 3)
(110035, 3)
(2549931, 3)

In [9]:
pd_event_cross_reference.head()

   EVENTNUMBER  CROSSEVENTNUMBER CROSSTYPEFLAG
0   1600100014        1600100162           DUP
1   1600100014        1600100436           DUP
2   1600100015        1536514749           DUP
3   1600100015         160010002           911
4   1600100017         160010003           911

In [10]:
pd_event_cross_reference.to_csv('./911call/chifoia_event_cross_reference.csv')