In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
pd_temp = pd.read_csv('./911call/other/chifoia_estl_01012018.csv',skiprows=0,header=0)

In [3]:
pd_temp.head()

   EventNumber Status           StatusDate  StatusDateHn
0   1800100001    CLS  01/01/2018 00.01.01            11
1   1800100001    WAI  01/01/2018 00.00.00            23
2   1800100003    ACK  01/01/2018 00.02.15             2
3   1800100003    CLS  01/01/2018 02.46.06            48
4   1800100003    DSP  01/01/2018 00.00.38            29

In [4]:
pd_temp.columns

Index(['EventNumber', 'Status', 'StatusDate', 'StatusDateHn'], dtype='object')

In [5]:
pd_temp.head()

   EventNumber Status           StatusDate  StatusDateHn
0   1800100001    CLS  01/01/2018 00.01.01            11
1   1800100001    WAI  01/01/2018 00.00.00            23
2   1800100003    ACK  01/01/2018 00.02.15             2
3   1800100003    CLS  01/01/2018 02.46.06            48
4   1800100003    DSP  01/01/2018 00.00.38            29

In [6]:
pdf = pd.DataFrame()

In [7]:
path = './911call/other/'
files= os.listdir(path)
files

['chifoia_estl_01012018.csv',
 'chifoia_estl_02012018.csv',
 'chifoia_estl_03012018.csv',
 'chifoia_estl_04012018.csv',
 'chifoia_estl_09012017.csv',
 'chifoia_estl_10012017.csv',
 'chifoia_estl_11012017.csv',
 'chifoia_estl_12012017.csv']

In [8]:
for file in files:
    pd_temp = pd.read_csv(path+file,skiprows=1,header=None)
    pd_temp.columns = ['EventNumber', 'Status', 'StatusDate', 'StatusDateHn']
    print(pd_temp.shape)
    pdf = pd.concat([pdf,pd_temp])
    print(pdf.shape)

(762165, 4)
(762165, 4)
(693887, 4)
(1456052, 4)
(816312, 4)
(2272364, 4)
(805345, 4)
(3077709, 4)
(861343, 4)
(3939052, 4)
(847090, 4)
(4786142, 4)
(775851, 4)
(5561993, 4)
(798349, 4)
(6360342, 4)

In [9]:
pdf.head()

   EventNumber Status           StatusDate  StatusDateHn
0   1800100001    CLS  01/01/2018 00.01.01            11
1   1800100001    WAI  01/01/2018 00.00.00            23
2   1800100003    ACK  01/01/2018 00.02.15             2
3   1800100003    CLS  01/01/2018 02.46.06            48
4   1800100003    DSP  01/01/2018 00.00.38            29

In [10]:
pdf.StatusDate = pd.to_datetime(pdf.StatusDate, format='%m/%d/%Y %H.%M.%S',errors='coerce')

In [11]:
# pdf.OVERRIDEDATE = pd.to_datetime(pdf.OVERRIDEDATE, format='%m/%d/%Y %H.%M.%S',errors='coerce')

In [12]:
# pdf.SEGMENTDATE = pd.to_datetime(pdf.SEGMENTDATE, format='%m/%d/%Y %H.%M.%S',errors='coerce')

In [13]:
pdf.to_csv('./911call/chifoia_event_estl.csv')

In [14]:
pdf.head()

   EventNumber Status          StatusDate  StatusDateHn
0   1800100001    CLS 2018-01-01 00:01:01            11
1   1800100001    WAI 2018-01-01 00:00:00            23
2   1800100003    ACK 2018-01-01 00:02:15             2
3   1800100003    CLS 2018-01-01 02:46:06            48
4   1800100003    DSP 2018-01-01 00:00:38            29