In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import os
import pickle
import re
from collections import Counter
from tensorflow.python.ops import math_ops
import matplotlib.pyplot as plt
import time
import datetime

In [2]:
pd_ani_ali_temp = pd.read_csv('./911call/chifoia_event_ani_ali/chifoia_event_ani_ali_01012017.txt',sep="|",skiprows=1,header=None)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd_ani_ali_temp.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,94258027,01/01/2017 00:00:02,01/01/2017 00:00:00,754,C106878,PCT54,WPH1,NaN,B3049404408,ATTMO,-87.65683,+41.7047,3NE
1,94258028,01/01/2017 00:00:13,01/01/2017 00:00:00,766,C559895,PCT66,BUSN,NaN,B3049415564,AMTCH,NaN,NaN,NaN
2,94258029,01/01/2017 00:00:14,01/01/2017 00:00:00,835,C75741,PD125,WPH1,NaN,B3049415923,SPPCS,-87.6515,41.973083,-
3,94258030,01/01/2017 00:00:14,01/01/2017 00:00:00,840,C115545,PCT112,WPH1,NaN,B3049416314,TMOB,-87.576166,41.772416,4N
4,94258031,01/01/2017 00:00:16,01/01/2017 00:00:00,757,C500271,PCTS57,RESD,NaN,B3049418095,SGL,NaN,NaN,NaN

In [4]:
pd_ani_ali_temp.columns = ["ALINUMBER","ASQDATE","ANSWERDATE","POSITION","PERSID","WORKSTATION","EQUIPMENT","DESCR","ACDID","COMPANYID","XCOORD","YCOORD","DIRECTION"]

In [5]:
pd_ani_ali_temp.head()

,ALINUMBER,ASQDATE,ANSWERDATE,POSITION,PERSID,WORKSTATION,EQUIPMENT,DESCR,ACDID,COMPANYID,XCOORD,YCOORD,DIRECTION
0,94258027,01/01/2017 00:00:02,01/01/2017 00:00:00,754,C106878,PCT54,WPH1,NaN,B3049404408,ATTMO,-87.65683,+41.7047,3NE
1,94258028,01/01/2017 00:00:13,01/01/2017 00:00:00,766,C559895,PCT66,BUSN,NaN,B3049415564,AMTCH,NaN,NaN,NaN
2,94258029,01/01/2017 00:00:14,01/01/2017 00:00:00,835,C75741,PD125,WPH1,NaN,B3049415923,SPPCS,-87.6515,41.973083,-
3,94258030,01/01/2017 00:00:14,01/01/2017 00:00:00,840,C115545,PCT112,WPH1,NaN,B3049416314,TMOB,-87.576166,41.772416,4N
4,94258031,01/01/2017 00:00:16,01/01/2017 00:00:00,757,C500271,PCTS57,RESD,NaN,B3049418095,SGL,NaN,NaN,NaN

chifoia_event_ani_ali_01012017.txt

ALINUMBER|ASQDATE                     |ANSWERDATE             |POSITION|PERSID   |WORKSTATION|EQUIPMENT|**DESCR|DESCR**|ACDID              |COMPANYID|XCOORD  |YCOORD  |DIRECTION

94258027    |01/01/2017 00:00:02|01/01/2017 00:00:00|754           |C106878|PCT54                |WPH1           |                          |B3049404408|ATTMO         |-87.65683|+41.7047|3NE

Here is a duplication in the column names, and might cause some problem.
So here I skip the first row and read the data and assign names to them.

In [6]:
pd_ani_ali = pd.DataFrame()

In [7]:
path = './911call/chifoia_event_ani_ali/'
files= os.listdir(path)
files

['chifoia_event_ani_ali_01012016.txt',
 'chifoia_event_ani_ali_01012017.txt',
 'chifoia_event_ani_ali_02012016.txt',
 'chifoia_event_ani_ali_02012017.txt',
 'chifoia_event_ani_ali_03012016.txt',
 'chifoia_event_ani_ali_03012017.txt',
 'chifoia_event_ani_ali_04012016.txt',
 'chifoia_event_ani_ali_04012017.txt',
 'chifoia_event_ani_ali_05012016.txt',
 'chifoia_event_ani_ali_05012017.txt',
 'chifoia_event_ani_ali_06012016.txt',
 'chifoia_event_ani_ali_06012017.txt',
 'chifoia_event_ani_ali_07012016.txt',
 'chifoia_event_ani_ali_07012017.txt',
 'chifoia_event_ani_ali_08012016.txt',
 'chifoia_event_ani_ali_08012017.txt',
 'chifoia_event_ani_ali_09012016.txt',
 'chifoia_event_ani_ali_10012016.txt',
 'chifoia_event_ani_ali_11012016.txt',
 'chifoia_event_ani_ali_12012016.txt']

In [8]:
for file in files:
    pd_ani_ali_temp = pd.read_csv(path+file,sep="|",skiprows=1,header=None)
    pd_ani_ali_temp.columns = ["ALINUMBER","ASQDATE","ANSWERDATE","POSITION","PERSID","WORKSTATION","EQUIPMENT","DESCR","ACDID","COMPANYID","XCOORD","YCOORD","DIRECTION"]
    print(pd_ani_ali_temp.shape)
    pd_ani_ali = pd.concat([pd_ani_ali,pd_ani_ali_temp])
    print(pd_ani_ali.shape)

(313765, 13)
(313765, 13)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(292339, 13)
(606104, 13)
(293540, 13)
(899644, 13)
(275738, 13)
(1175382, 13)
(328700, 13)
(1504082, 13)
(307586, 13)
(1811668, 13)
(323974, 13)
(2135642, 13)
(320606, 13)
(2456248, 13)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(367164, 13)
(2823412, 13)
(344414, 13)
(3167826, 13)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(385860, 13)
(3553686, 13)
(363641, 13)
(3917327, 13)
(404090, 13)
(4321417, 13)
(371757, 13)
(4693174, 13)
(387230, 13)
(5080404, 13)
(348317, 13)
(5428721, 13)
(363841, 13)
(5792562, 13)
(346236, 13)
(6138798, 13)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(315205, 13)
(6454003, 13)
(297905, 13)
(6751908, 13)

In [9]:
pd_ani_ali.head()

,ALINUMBER,ASQDATE,ANSWERDATE,POSITION,PERSID,WORKSTATION,EQUIPMENT,DESCR,ACDID,COMPANYID,XCOORD,YCOORD,DIRECTION
0,89375091,01/01/2016 00:00:04,01/01/2016 00:00:00,732.0,C549511,PD32,WPH2,NaN,NaN,NaN,NaN,NaN,NaN
1,89375092,01/01/2016 00:00:09,01/01/2016 00:00:00,725.0,C606055,PCT25,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
2,89375093,01/01/2016 00:00:13,01/01/2016 00:00:00,748.0,C100965,PCT48,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
3,89375094,01/01/2016 00:00:18,01/01/2016 00:00:00,749.0,C100963,PCT49,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
4,89375095,01/01/2016 00:00:19,01/01/2016 00:00:00,721.0,A99592,PADM21,CNTX,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
pd_ani_ali.XCOORD = pd.to_numeric(pd_ani_ali.XCOORD, errors='coerce')
pd_ani_ali.YCOORD = pd.to_numeric(pd_ani_ali.YCOORD, errors='coerce')
pd_ani_ali.POSITION = pd.to_numeric(pd_ani_ali.POSITION, errors='coerce')

In [11]:
pd_ani_ali.shape

(6751908, 13)

In [14]:
sum(pd_ani_ali.ASQDATE == "ATTMO")

0

In [13]:
pd_ani_ali = pd_ani_ali.replace(['ALI NO', 'ATTMO'],np.nan)

In [15]:
pd_ani_ali.shape

(6751908, 13)

In [16]:
pd_ani_ali.head()

,ALINUMBER,ASQDATE,ANSWERDATE,POSITION,PERSID,WORKSTATION,EQUIPMENT,DESCR,ACDID,COMPANYID,XCOORD,YCOORD,DIRECTION
0,89375091,01/01/2016 00:00:04,01/01/2016 00:00:00,732.0,C549511,PD32,WPH2,NaN,NaN,NaN,NaN,NaN,NaN
1,89375092,01/01/2016 00:00:09,01/01/2016 00:00:00,725.0,C606055,PCT25,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
2,89375093,01/01/2016 00:00:13,01/01/2016 00:00:00,748.0,C100965,PCT48,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
3,89375094,01/01/2016 00:00:18,01/01/2016 00:00:00,749.0,C100963,PCT49,WPH1,NaN,NaN,NaN,NaN,NaN,NaN
4,89375095,01/01/2016 00:00:19,01/01/2016 00:00:00,721.0,A99592,PADM21,CNTX,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
pd_ani_ali.to_csv('./911call/chifoia_event_ani_ali.csv')

To csv file. **DONE!**

In [11]:
for col in pd_ani_ali_temp.columns.tolist():
    print(col)
    print( pd_ani_ali_temp[col].unique())
    print('\n\n')

ALINUMBER
[93898325 93898326 93898328 ..., 94258022 94258024 94258025]



ASQDATE
['12/01/2016 00:00:19' '12/01/2016 00:00:21' '12/01/2016 00:00:45' ...,
 '12/31/2016 23:59:24' '12/31/2016 23:59:38' '12/31/2016 23:59:51']



ANSWERDATE
['12/01/2016 00:00:00' '12/01/2016 00:01:00' '12/01/2016 00:02:00' ...,
 '12/31/2016 23:57:00' '12/31/2016 23:58:00' '12/31/2016 23:59:00']



POSITION
[765 727 768 734 711 746 737 725 738 756 724 739 723 755 733 831 708 736
 721 732 707 745 747 726 833 840 749 748 714 758 710 757 720 752 722 717
 753 764 767 754 735 712 744 713 560 760 528 761 834 538 766 529 527 537
 568 541 795 515 544 539 518 513 543 536 798 799 792 510 555 530 802 512
 506 509 507 533 794 796 517 505 836 835 838 793 812]



PERSID
['C99440' 'C560948' 'C539210' 'C100954' 'C559897' 'C107757' 'C116759'
 'C115080' 'C108844' 'C108848' 'C103127' 'C551155' 'C560942' 'C108840'
 'C604266' 'C115545' 'A300816' 'C33805' 'A99592' 'C117224' 'A273619'
 'C118261' 'C559895' 'C559902' 'C27971' 'C541748' 'C100912' 'C100964'
 'C305083' 'C31084' 'C108852' 'C112815' 'A99593' 'C117351' 'C117194'
 'C103688' 'C106923' 'C552948' 'C555744' 'C535563' 'A541555' 'C307502'
 'C300211' 'C541741' 'C558227' 'A516555' 'C308578' 'C553184' 'C541234'
 'C307552' 'C554491' 'C307551' 'C357395' 'C301199' 'C550925' 'C550924'
 'C541554' 'C99593' 'C500327' 'A548443' 'C304051' 'C550923' 'C307554'
 'C400740' 'C108849' 'C108210' 'C539205' 'C555740' 'C553188' 'C307557'
 'C110029' 'C113752' 'C192159' 'C307485' 'RT118617' 'A557520' 'C118083'
 'C118081' 'C100957' 'C606055' 'C100962' 'C118086' 'C559904' 'C554490'
 'A557524' 'C560944' 'C108833' 'C113102' 'C559903' 'C560943' 'C116762'
 'C118262' 'C118527' 'C117446' 'C118260' 'C521392' 'C604221' 'C114912'
 'C543468' 'A100965' 'C558503' 'C100963' 'C606047' 'C307497' 'C306528'
 'C516555' 'C108836' 'RT119067' 'C118616' 'C8782' 'C109494' 'C118082'
 'C606057' 'A604266' 'C75741' 'C550926' 'C112734' 'C117225' 'C558222'
 'C113109' 'D113105' 'C98606' 'C554489' 'C117193' 'C551154' 'C305084'
 'C118073' 'C305260' 'C551151' 'C303912' 'C553191' 'C117198' 'C303571'
 'C305081' 'C557039' 'C522288' 'C307488' 'C557395' 'C306530' 'C541747'
 'C558501' 'A307556' 'C118615' 'C839505' 'C557041' 'C550403' 'C118067'
 'C553190' 'C553187' 'A555740' 'C100956' 'C557520' 'C118085' 'C602883'
 'C118068' 'C113750' 'C606052' 'C103707' 'C118076' 'C113105' 'A554490'
 'C559905' 'C118346' 'C110185' 'C307293' 'C307292' 'A7340' 'C307830'
 'C555743' 'D307292' 'RT118596' 'C554925' 'C560946' 'C118845' 'C118341'
 'C100965' 'C306526' 'C99336' 'A558504' 'C118295' 'A604267' 'C307856'
 'C528285' 'C118070' 'C308179' 'C554928' 'C382563' 'C093099' 'C118075'
 'C305087' 'C117397' 'C115549' 'C113108' 'C117195' 'C543234' 'C104403'
 'C557460' 'C606053' 'C7661' 'C108851' 'A559903' 'C118069' 'C108853'
 'C100995' 'C115561' 'C99339' 'C308187' 'C555746' 'A535563' 'C308163'
 'RT25012' 'C118354' 'C554926' 'C476761' 'C301623' 'C531813' 'C308567'
 'C113749' 'C112785' 'C1928' 'C118074' 'C117202' 'C113103' 'C558500'
 'C306525' 'C306538' 'C535999' 'C525884' 'RT119061' 'D306525' 'C106928'
 'C22412' 'C543244' 'C99335' 'C113107' 'C558224' 'C555734' 'C113753'
 'C303981' 'RT118601' 'RT118351' 'C12324' 'RT118839' 'C106919' 'A110029'
 'C548443' 'C98603' 'C3241' 'C559901' 'C112780' 'C555107' 'C559898'
 'C306523' 'RT118836' 'C103649' 'C541236' 'C7340' 'C539716' 'A559901'
 'C307499' 'C557525' 'C108209' 'D539716' 'RT96929' 'A502909' 'A106923'
 'A108848' 'C108854' 'C115562' 'RT110856' 'D33050' 'ZACH' 'C606054' 'C4667'
 'C550698' 'C108845' 'D113753' 'A100912' 'C385978' 'C110017' 'C308186'
 'C303909' 'D103649' 'RT118294' 'RT118350' 'D308186' 'C117201' 'C550700'
 'D550698' 'A558224' 'RT13103' 'RT42688' 'A555734' 'C549511' 'RT119055'
 'RT108567' 'C96077' 'C99340' 'C551156' 'A554491' 'C606049' 'C108212'
 'C557519' 'C541737' 'C550398' 'C307491' 'RT118825' 'D117198' 'C604267'
 'C300971' 'D300971' 'C103661' 'D550398' 'D541737' 'C707378' 'C119361'
 'C119358' 'D303571' 'RT47940' 'C33050' 'A110185' 'C119363' 'C99432'
 'RT119056' 'A100995' 'C502909' 'C541241' 'D551154' 'A541554' 'C106921'
 'C307498' 'RT118619' 'D307491' 'D4667' 'D106921' 'RT107619' 'A7661'
 'RT35169' 'A560944' 'A549513' 'D75741' 'A500271' 'C555737' 'C558226'
 'C541555' 'C106922' 'C500271' 'C555736' 'RT91724' 'C549513' 'A107757'
 'C151467' 'C543243' 'RT23712' 'C304048' 'C308563' 'RT110480' 'C554737'
 'C552536' 'C307504' 'C304078' 'C99337' 'C548561' 'C601149' 'C112783'
 'C541235' 'C99341' 'C551153' 'C308575' 'C539718' 'C393941' 'A300211'
 'C558502' 'RT108548' 'RT119068' 'DT113753' 'RT14593' 'C549506' 'C308562'
 'D110017' 'C555742' 'A550925' 'D106928' 'A100957' 'C543471' 'A606055'
 'A560946' 'C541238' 'D306523' 'A606057' 'A558501' 'A103649' 'DT108210'
 'D553634' 'A550700' 'D557527' 'RT118291' 'C304109' 'C306727' 'C306537'
 'C539223' 'C100960' 'RT118823' 'C306725' 'C305297' 'D99432' 'D305297'
 'RT102765' 'C307503' 'C541734' 'C300816' 'C118621' 'C307556' 'C118600'
 'C118606' 'RT37923' 'C118618' 'D99341' 'C279' 'C118846' 'C118343'
 'C554734' 'RT118607' 'C105405' 'C115079' 'D113749' 'C103674' 'C118352'
 'D99336' 'C108843' 'C115543' 'D525884' 'C118614' 'C118345' 'A558500'
 'C115076' 'C103874' 'C118349' 'C61984' 'C118595' 'C304052' 'C306536'
 'C304116' 'P18380' 'P111530' 'C106878' 'D117193' 'C553512' 'C106936']



WORKSTATION
['PCT65' 'PCT27' 'PCT68' 'PCTS34' 'PCT11' 'PCT46' 'PCT37' 'PCT25' 'PCT38'
 'PCT56' 'PCTS24' 'PCT39' 'PCT23' 'PCT55' 'PCT33' 'PCT113' 'PD08' 'PCT36'
 'PADM21' 'PD32' 'PADM07' 'PCT45' 'PCT47' 'PCT26' 'PD123' 'PCT112' 'PCT49'
 'PCT48' 'PCT14' 'PCT58' 'PCT10' 'PCTS57' 'PADM20' 'PD52' 'PCT22' 'PDS17'
 'PD53' 'PCT64' 'PCT67' 'PCT54' 'PCT35' 'PCT12' 'PCT44' 'PCT13' 'AF60'
 'PD60' 'ACT28' 'PD61' 'PD124' 'NE38' 'PCT66' 'ACT29' 'AZ70' 'ACW37' 'AF68'
 'AZ41' 'PDT95' 'ACT15' 'AZ44' 'ACW39' 'ACT18' 'ACT13' 'AZ43' 'NE36'
 'PDT98' 'PDT99' 'PDT92' 'NE10' 'AZ55' 'ACT30' 'PDT102' 'NE12' 'AZ46'
 'NE09' 'ACW52' 'ACT33' 'PDT94' 'PDT96' 'ACT17' 'AZ50' 'PD126' 'PD125'
 'FDT116' 'PDT93' 'FDT104']



EQUIPMENT
['WPH1 ' 'WPH2 ' 'RESD ' 'BUSN ' 'CNTX ' nan 'PAY$ ' 'N/A  ' 'PBXb '
 'VOIP ' 'COIN ' 'BSNX ']



DESCR
[nan 'RECORD NOT FOUND']



ACDID
['A0370981611' 'A0370984033' 'A0371007658' ..., 'B3049366798' 'B3049380126'
 'B3049393986']



COMPANYID
['TMOB ' 'SPPCS' 'ATTMO' 'FAIL ' 'MCLDU' 'VZW  ' 'AMTCH' nan 'ATT  '
 'AOINC' 'NGT  ' 'RCN  ' 'ATTIS' 'CMCST' 'CIMCO' 'SGL  ' 'NEX07' 'TCG  '
 'MCI  ' 'CONX ' 'GBQ  ' 'XOXO ' 'EGHT ' 'BAND ' 'CBEYO' 'SXMCV' 'REDSK'
 'TWCOM' 'FOCAL' 'VNAGE' 'PUA  ' 'LVL3 ' 'CTLQV' 'CMNI ' 'CALLT' 'SPKEZ'
 'YMX00' 'PSABN' 'ONSTR' 'PLNW ' 'SCINC' 'OOMA ' 'VNBS ' 'ALC  ' 'NWOH '
 'VZT  ' 'EQUIV' 'TNLV ' 'PSMCI' 'VMCI ' 'CCAS ' 'ANPI ' 'BLUIP' 'Selec'
 'HATA ' 'ALTI ' 'PNGT ' 'NTRDO' 'FROMI' 'TLKNV' 'GSAIO' 'SSNET' 'NTRS '
 'ACNDP' 'VNICR' 'CFLY ' 'CYPRS' 'TVOIP' 'USLEC' '5LINX' 'RTCCS' 'LTB  '
 'TRDO ' 'TCS  ' 'HURN ' 'ETCML' 'LECMI' 'AICIL']



XCOORD
['-87.624451' '-87.575833' '-087.71836' ..., '-087.72876' '-087.82015'
 '-087.70484']



YCOORD
['41.755672' '41.772333' '+041.89386' ..., '+041.71375' '+041.86338'
 '+041.97614']



DIRECTION
['3N' '4SE' nan '3SW' 'W' '3SE' '3NE' '3NW' '-' '3W' '3E' 'SW' 'OMNI' '4SW'
 '3S' 'N' 'SE' '2SE' 'E' '6SE' '6N' '6W' 'NW' '2SW' '1N' '3OMN' '4N' '1'
 'S' '12' '11' 'PLAC' '8' 'NE' '2OMN' '3' 'Luth' '6SW' '2N' '4S' '6NE'
 '2NE' '4NW' 'AVE' 'Ave' '9' '26TH' '3SSE' '4W' '2W' 'STRE' 'AVE-' 'Sect'
 'WALL' 'Madi' 'ST' '33S' '-3N' '3XX' '2' 'St' 'LARA' 'AV' '&' 'BLVD'
 'ROOS' '5' '13' 'RD' '54th' 'FORE' 'NORT' 'MAPL' 'Fill' 'MICH' 'RIVE'
 '-SE' '-NE' 'Pl' 'PARK' '4' 'Dr' '1-' 'MAWR' 'IN' 'Brad' 'SECT' '3NNE'
 'DR' 'Rd' 'Nort' '-N' 'HOWA' '3ALL' 'AUST']

In [12]:
pd_ani_ali_temp.columns

Index(['ALINUMBER', 'ASQDATE', 'ANSWERDATE', 'POSITION', 'PERSID',
       'WORKSTATION', 'EQUIPMENT', 'DESCR', 'ACDID', 'COMPANYID', 'XCOORD',
       'YCOORD', 'DIRECTION'],
      dtype='object')

In [13]:
pd_ani_ali_temp.columns.tolist()

['ALINUMBER',
 'ASQDATE',
 'ANSWERDATE',
 'POSITION',
 'PERSID',
 'WORKSTATION',
 'EQUIPMENT',
 'DESCR',
 'ACDID',
 'COMPANYID',
 'XCOORD',
 'YCOORD',
 'DIRECTION']

In [14]:
pd_ani_ali_temp.to_csv('./911call/chifoia_event_ani_ali1.csv')