In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
pd_temp = pd.read_csv('./911call/chifoia_event_history_header/chifoia_event_history_header_01012017.txt',sep="|",skiprows=0,header=0)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd_temp.head()

,PROMPT EVENTNUMBER,RECDDATE,RECDDATEHN,ENTRYDATE,ENTRYDATEHN,CLOSEDATE,CLOSEDATEHN,STATUS,ENTRYPERSID,ENTRYWKS,...,ACKDATE,ENRDATE,ONSDATE,CANCELEDFLAG,ADDROFOCCOVERRIDEFLAG,DISPATCHED_FLAG,DUPLICATE_FLAG,FILE_ADVISED_FLAG,CASE_NUMBER_FLAG,WIRELESS_FLAG
0,1700100001,NaN,0,01/01/2017 00:00:01,53,01/01/2017 21:07:58,92,CLS,D306325,PDT96,...,NaN,NaN,NaN,N,N,N,N,Y,N,N
1,1700100002,NaN,0,01/01/2017 00:00:08,81,01/01/2017 00:06:28,60,CLS,PC0AK88,PMDT4285,...,NaN,NaN,01/01/2017 00:00:08,N,Y,Y,N,N,N,N
2,1700100003,12/31/2016 23:57:42,19,01/01/2017 00:00:25,79,01/01/2017 00:00:25,79,CLS,C100954,PCT12,...,NaN,NaN,NaN,N,N,N,N,Y,N,N
3,1700100004,12/31/2016 23:57:24,43,01/01/2017 00:00:39,74,01/01/2017 00:54:15,58,CLS,C539210,PCT68,...,01/01/2017 00:08:30,01/01/2017 00:09:11,NaN,N,N,Y,N,N,N,N
4,1700100005,12/31/2016 23:57:53,12,01/01/2017 00:00:40,58,01/01/2017 00:00:40,58,CLS,C100963,PCT67,...,NaN,NaN,NaN,N,N,N,N,Y,N,N

In [4]:
pd_temp.columns  = ['EVENTNUMBER', 'RECDDATE', 'RECDDATEHN', 'ENTRYDATE',
       'ENTRYDATEHN', 'CLOSEDATE', 'CLOSEDATEHN', 'STATUS', 'ENTRYPERSID',
       'ENTRYWKS', 'DISPPERSID', 'DISPWKS', 'LOCSTREETDIR', 'LOCSTREETNAME',
       'SERVICESTREETDIR', 'SERVICESTREETNAME', 'LOCCITY', 'LOCOVERRIDEFLAG',
       'LOCTYPEFLAG', 'XCOORD', 'YCOORD', 'ATOM', 'RESPGROUP', 'RESPAREA',
       'CONDISPGROUP', 'LOCDISPGROUP', 'SOURCE', 'INITPRIORITY', 'FINPRIORITY',
       'CONTACT', 'INITTYPE', 'FINTYPE', 'TYPEDESCR', 'RESPONSE',
       'INITRESPLEVEL', 'FINRESPLEVEL', 'CALLERLOCSTREETDIR',
       'CALLERLOCSTREETNAME', 'CATCHUPFLAG', 'OOSFLAG', 'ADVISEDFLAG',
       'OTHERNOTIFIEDFLAG', 'ARPFLAG', 'REOPENFLAG', 'STACKEDFLAG',
       'INITDISPOSITION', 'FINDISPOSITION', 'ALINUMBER', 'CLRDATE', 'DISPDATE',
       'ACKDATE', 'ENRDATE', 'ONSDATE', 'CANCELEDFLAG',
       'ADDROFOCCOVERRIDEFLAG', 'DISPATCHED_FLAG', 'DUPLICATE_FLAG',
       'FILE_ADVISED_FLAG', 'CASE_NUMBER_FLAG', 'WIRELESS_FLAG']

In [5]:
pd_temp.head()

,EVENTNUMBER,RECDDATE,RECDDATEHN,ENTRYDATE,ENTRYDATEHN,CLOSEDATE,CLOSEDATEHN,STATUS,ENTRYPERSID,ENTRYWKS,...,ACKDATE,ENRDATE,ONSDATE,CANCELEDFLAG,ADDROFOCCOVERRIDEFLAG,DISPATCHED_FLAG,DUPLICATE_FLAG,FILE_ADVISED_FLAG,CASE_NUMBER_FLAG,WIRELESS_FLAG
0,1700100001,NaN,0,01/01/2017 00:00:01,53,01/01/2017 21:07:58,92,CLS,D306325,PDT96,...,NaN,NaN,NaN,N,N,N,N,Y,N,N
1,1700100002,NaN,0,01/01/2017 00:00:08,81,01/01/2017 00:06:28,60,CLS,PC0AK88,PMDT4285,...,NaN,NaN,01/01/2017 00:00:08,N,Y,Y,N,N,N,N
2,1700100003,12/31/2016 23:57:42,19,01/01/2017 00:00:25,79,01/01/2017 00:00:25,79,CLS,C100954,PCT12,...,NaN,NaN,NaN,N,N,N,N,Y,N,N
3,1700100004,12/31/2016 23:57:24,43,01/01/2017 00:00:39,74,01/01/2017 00:54:15,58,CLS,C539210,PCT68,...,01/01/2017 00:08:30,01/01/2017 00:09:11,NaN,N,N,Y,N,N,N,N
4,1700100005,12/31/2016 23:57:53,12,01/01/2017 00:00:40,58,01/01/2017 00:00:40,58,CLS,C100963,PCT67,...,NaN,NaN,NaN,N,N,N,N,Y,N,N

In [6]:
pdf = pd.DataFrame()

In [7]:
path = './911call/chifoia_event_history_header/'
files= os.listdir(path)
files

['chifoia_event_history_header_01012016.txt',
 'chifoia_event_history_header_01012017.txt',
 'chifoia_event_history_header_02012016.txt',
 'chifoia_event_history_header_02012017.txt',
 'chifoia_event_history_header_03012016.txt',
 'chifoia_event_history_header_03012017.txt',
 'chifoia_event_history_header_04012016.txt',
 'chifoia_event_history_header_04012017.txt',
 'chifoia_event_history_header_05012016.txt',
 'chifoia_event_history_header_05012017.txt',
 'chifoia_event_history_header_06012016.txt',
 'chifoia_event_history_header_06012017.txt',
 'chifoia_event_history_header_07012016.txt',
 'chifoia_event_history_header_07012017.txt',
 'chifoia_event_history_header_08012016.txt',
 'chifoia_event_history_header_08012017.txt',
 'chifoia_event_history_header_09012016.txt',
 'chifoia_event_history_header_10012016.txt',
 'chifoia_event_history_header_11012016.txt',
 'chifoia_event_history_header_12012016.txt']

In [8]:
for file in files:
    pd_temp = pd.read_csv(path+file,sep="|",skiprows=1,header=None)
    pd_temp.columns = ['EVENTNUMBER', 'RECDDATE', 'RECDDATEHN', 'ENTRYDATE',
       'ENTRYDATEHN', 'CLOSEDATE', 'CLOSEDATEHN', 'STATUS', 'ENTRYPERSID',
       'ENTRYWKS', 'DISPPERSID', 'DISPWKS', 'LOCSTREETDIR', 'LOCSTREETNAME',
       'SERVICESTREETDIR', 'SERVICESTREETNAME', 'LOCCITY', 'LOCOVERRIDEFLAG',
       'LOCTYPEFLAG', 'XCOORD', 'YCOORD', 'ATOM', 'RESPGROUP', 'RESPAREA',
       'CONDISPGROUP', 'LOCDISPGROUP', 'SOURCE', 'INITPRIORITY', 'FINPRIORITY',
       'CONTACT', 'INITTYPE', 'FINTYPE', 'TYPEDESCR', 'RESPONSE',
       'INITRESPLEVEL', 'FINRESPLEVEL', 'CALLERLOCSTREETDIR',
       'CALLERLOCSTREETNAME', 'CATCHUPFLAG', 'OOSFLAG', 'ADVISEDFLAG',
       'OTHERNOTIFIEDFLAG', 'ARPFLAG', 'REOPENFLAG', 'STACKEDFLAG',
       'INITDISPOSITION', 'FINDISPOSITION', 'ALINUMBER', 'CLRDATE', 'DISPDATE',
       'ACKDATE', 'ENRDATE', 'ONSDATE', 'CANCELEDFLAG',
       'ADDROFOCCOVERRIDEFLAG', 'DISPATCHED_FLAG', 'DUPLICATE_FLAG',
       'FILE_ADVISED_FLAG', 'CASE_NUMBER_FLAG', 'WIRELESS_FLAG']
    print(pd_temp.shape)
    pdf = pd.concat([pdf,pd_temp])
    print(pdf.shape)

(486275, 60)
(486275, 60)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(486576, 60)
(972851, 60)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (21,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(457743, 60)
(1430594, 60)
(459532, 60)
(1890126, 60)
(512429, 60)
(2402555, 60)
(505844, 60)
(2908399, 60)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(503840, 60)
(3412239, 60)
(514571, 60)
(3926810, 60)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (25,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(561230, 60)
(4488040, 60)
(554747, 60)
(5042787, 60)
(576435, 60)
(5619222, 60)
(566730, 60)
(6185952, 60)
(590488, 60)
(6776440, 60)
(581742, 60)
(7358182, 60)
(566989, 60)
(7925171, 60)
(556548, 60)
(8481719, 60)
(550563, 60)
(9032282, 60)
(536750, 60)
(9569032, 60)
(486041, 60)
(10055073, 60)
(463982, 60)
(10519055, 60)

In [9]:
pdf.head()

,EVENTNUMBER,RECDDATE,RECDDATEHN,ENTRYDATE,ENTRYDATEHN,CLOSEDATE,CLOSEDATEHN,STATUS,ENTRYPERSID,ENTRYWKS,...,ACKDATE,ENRDATE,ONSDATE,CANCELEDFLAG,ADDROFOCCOVERRIDEFLAG,DISPATCHED_FLAG,DUPLICATE_FLAG,FILE_ADVISED_FLAG,CASE_NUMBER_FLAG,WIRELESS_FLAG
0,1600100001,12/31/2015 23:58:16,71,01/01/2016 00:00:01,8,01/01/2016 00:39:10,78,CLS,C307502,PD53,...,01/01/2016 00:30:30,01/01/2016 00:34:34,01/01/2016 00:35:44,N,N,N,N,N,N,N
1,1600100002,NaN,0,01/01/2016 00:00:02,74,01/01/2016 21:01:15,46,CLS,D106922,PDT96,...,NaN,NaN,NaN,N,N,N,N,Y,N,N
2,1600100003,12/31/2015 23:57:37,44,01/01/2016 00:00:10,20,01/01/2016 00:00:10,20,CLS,C606057,PCT59,...,NaN,NaN,NaN,N,Y,N,N,Y,N,N
3,1600100004,12/31/2015 23:59:09,42,01/01/2016 00:00:12,97,01/01/2016 00:00:12,97,CLS,C100957,PCT14,...,NaN,NaN,NaN,N,N,N,N,Y,N,N
4,1600100005,12/31/2015 23:59:25,97,01/01/2016 00:00:16,69,01/01/2016 00:01:05,29,CLS,C602883,PCT23,...,NaN,NaN,NaN,N,N,N,N,N,N,N

In [10]:
pdf.to_csv('./911call/chifoia_event_history_header.csv')