In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
pd_temp = pd.read_csv('./911call/chifoia_unit_history_header/chifoia_unit_history_header_01012017.txt',sep="|",skiprows=0,header=0)

In [3]:
pd_temp.head()

   PROMPT EVENTNUMBER   UNIT  UNAOCCCNT  PERSID  UNITLOGONDATE  UNITLOGOFFDATE
0          1700100004  2213R          2   10766            NaN             NaN
1          1700100004  2213R          2   14597            NaN             NaN
2          1700100004  2220R          4    1569            NaN             NaN
3          1700100004  2221R          1   13003            NaN             NaN
4          1700100004  2221R          1   19615            NaN             NaN

In [4]:
pd_temp.columns = ['EVENTNUMBER', 'UNIT', 'UNAOCCCNT', 'PERSID', 'UNITLOGONDATE',
       'UNITLOGOFFDATE']

In [5]:
pd_temp.head()

   EVENTNUMBER   UNIT  UNAOCCCNT  PERSID  UNITLOGONDATE  UNITLOGOFFDATE
0   1700100004  2213R          2   10766            NaN             NaN
1   1700100004  2213R          2   14597            NaN             NaN
2   1700100004  2220R          4    1569            NaN             NaN
3   1700100004  2221R          1   13003            NaN             NaN
4   1700100004  2221R          1   19615            NaN             NaN

In [6]:
pdf = pd.DataFrame()

In [7]:
path = './911call/chifoia_unit_history_header/'
files= os.listdir(path)
files

['chifoia_event_personnel_link_01012016.txt',
 'chifoia_event_personnel_link_01012017.txt',
 'chifoia_event_personnel_link_02012016.txt',
 'chifoia_event_personnel_link_02012017.txt',
 'chifoia_event_personnel_link_03012016.txt',
 'chifoia_event_personnel_link_03012017.txt',
 'chifoia_event_personnel_link_04012016.txt',
 'chifoia_event_personnel_link_04012017.txt',
 'chifoia_event_personnel_link_05012016.txt',
 'chifoia_event_personnel_link_05012017.txt',
 'chifoia_event_personnel_link_06012016.txt',
 'chifoia_event_personnel_link_06012017.txt',
 'chifoia_event_personnel_link_07012016.txt',
 'chifoia_event_personnel_link_07012017.txt',
 'chifoia_event_personnel_link_08012016.txt',
 'chifoia_event_personnel_link_08012017.txt',
 'chifoia_event_personnel_link_09012016.txt',
 'chifoia_event_personnel_link_10012016.txt',
 'chifoia_event_personnel_link_11012016.txt',
 'chifoia_event_personnel_link_12012016.txt']

In [8]:
for file in files:
    pd_temp = pd.read_csv(path+file,sep="|",skiprows=1,header=None)
    pd_temp.columns = ['EVENTNUMBER', 'UNIT', 'UNAOCCCNT', 'PERSID', 'UNITLOGONDATE',
       'UNITLOGOFFDATE']
    print(pd_temp.shape)
    pdf = pd.concat([pdf,pd_temp])
    print(pdf.shape)

(423744, 6)
(423744, 6)
(482870, 6)
(906614, 6)
(420572, 6)
(1327186, 6)
(456946, 6)
(1784132, 6)
(494652, 6)
(2278784, 6)
(506809, 6)
(2785593, 6)
(498943, 6)
(3284536, 6)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(525587, 6)
(3810123, 6)
(552029, 6)
(4362152, 6)
(581631, 6)
(4943783, 6)
(557598, 6)
(5501381, 6)
(585387, 6)
(6086768, 6)
(589465, 6)
(6676233, 6)
(610768, 6)
(7287001, 6)
(577772, 6)
(7864773, 6)
(594399, 6)
(8459172, 6)
(536684, 6)
(8995856, 6)
(522308, 6)
(9518164, 6)
(459467, 6)
(9977631, 6)
(434058, 6)
(10411689, 6)

In [9]:
pdf.head()

   EVENTNUMBER   UNIT  UNAOCCCNT PERSID  UNITLOGONDATE  UNITLOGOFFDATE
0   1600100001  2525R          1  17029            NaN             NaN
1   1600100001  2525R          1   3325            NaN             NaN
2   1600100001  2535R          2  18494            NaN             NaN
3   1600100001  2535R          2   9427            NaN             NaN
4   1600100005  2433R          1  10542            NaN             NaN

In [10]:
pdf.to_csv('./911call/chifoia_unit_history_header.csv')