In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
pd_temp = pd.read_csv('./911call/chifoia_event_unit/chifoia_event_unit_01012017.txt',sep="|",skiprows=0,header=0)

In [3]:
pd_temp.head()

,PROMPT EVENTNUMBER,UNIT,UNAOCCCNT,OCCCNT,STATUSNAME,CREATIONDATE,OVERRIDEDATE,STACKEDFLAG
0,1700100002,4114A,1,1,DIS,01/01/2017 00:00:08,NaN,NaN
1,1700100002,4114A,1,2,ONS,01/01/2017 00:00:08,NaN,NaN
2,1700100002,4114A,1,3,AV,01/01/2017 00:06:28,NaN,NaN
3,1700100004,2200,3,1,DIS,01/01/2017 00:08:04,NaN,NaN
4,1700100004,2200,3,2,AV,01/01/2017 00:15:43,NaN,NaN

In [4]:
pd_temp.columns

Index(['PROMPT EVENTNUMBER', 'UNIT', 'UNAOCCCNT', 'OCCCNT', 'STATUSNAME',
       'CREATIONDATE', 'OVERRIDEDATE', 'STACKEDFLAG'],
      dtype='object')

In [5]:
pd_temp.head()

,PROMPT EVENTNUMBER,UNIT,UNAOCCCNT,OCCCNT,STATUSNAME,CREATIONDATE,OVERRIDEDATE,STACKEDFLAG
0,1700100002,4114A,1,1,DIS,01/01/2017 00:00:08,NaN,NaN
1,1700100002,4114A,1,2,ONS,01/01/2017 00:00:08,NaN,NaN
2,1700100002,4114A,1,3,AV,01/01/2017 00:06:28,NaN,NaN
3,1700100004,2200,3,1,DIS,01/01/2017 00:08:04,NaN,NaN
4,1700100004,2200,3,2,AV,01/01/2017 00:15:43,NaN,NaN

In [7]:
pdf = pd.DataFrame()

In [8]:
path = './911call/chifoia_event_unit/'
files= os.listdir(path)
files

['chifoia_event_unit_01012016.txt',
 'chifoia_event_unit_01012017.txt',
 'chifoia_event_unit_02012016.txt',
 'chifoia_event_unit_02012017.txt',
 'chifoia_event_unit_03012016.txt',
 'chifoia_event_unit_03012017.txt',
 'chifoia_event_unit_04012016.txt',
 'chifoia_event_unit_04012017.txt',
 'chifoia_event_unit_05012016.txt',
 'chifoia_event_unit_05012017.txt',
 'chifoia_event_unit_06012016.txt',
 'chifoia_event_unit_06012017.txt',
 'chifoia_event_unit_07012016.txt',
 'chifoia_event_unit_07012017.txt',
 'chifoia_event_unit_08012016.txt',
 'chifoia_event_unit_08012017.txt',
 'chifoia_event_unit_09012016.txt',
 'chifoia_event_unit_10012016.txt',
 'chifoia_event_unit_11012016.txt',
 'chifoia_event_unit_12012016.txt']

In [9]:
for file in files:
    pd_temp = pd.read_csv(path+file,sep="|",skiprows=1,header=None)
    pd_temp.columns = ['EVENTNUMBER', 'UNIT', 'UNAOCCCNT', 'OCCCNT', 'STATUSNAME',
       'CREATIONDATE', 'OVERRIDEDATE', 'STACKEDFLAG']
    print(pd_temp.shape)
    pdf = pd.concat([pdf,pd_temp])
    print(pdf.shape)

(1175051, 8)
(1175051, 8)
(1312147, 8)
(2487198, 8)
(1165995, 8)
(3653193, 8)
(1250027, 8)
(4903220, 8)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1368302, 8)
(6271522, 8)
(1353222, 8)
(7624744, 8)
(1340871, 8)
(8965615, 8)
(1406833, 8)
(10372448, 8)
(1488101, 8)
(11860549, 8)
(1535644, 8)
(13396193, 8)
(1501260, 8)
(14897453, 8)
(1536295, 8)
(16433748, 8)
(1427570, 8)
(17861318, 8)
(1578770, 8)
(19440088, 8)
(1340741, 8)
(20780829, 8)
(1553812, 8)
(22334641, 8)
(1397822, 8)
(23732463, 8)
(1402215, 8)
(25134678, 8)
(1243989, 8)
(26378667, 8)
(1172931, 8)
(27551598, 8)

In [10]:
pdf.head()

,EVENTNUMBER,UNIT,UNAOCCCNT,OCCCNT,STATUSNAME,CREATIONDATE,OVERRIDEDATE,STACKEDFLAG
0,1600100001,2525R,1,1,DIS,01/01/2016 00:30:17,NaN,NaN
1,1600100001,2525R,1,2,ACK,01/01/2016 00:30:30,NaN,NaN
2,1600100001,2525R,1,3,ENR,01/01/2016 00:35:42,NaN,NaN
3,1600100001,2525R,1,4,ONS,01/01/2016 00:35:44,NaN,NaN
4,1600100001,2525R,1,5,AV,01/01/2016 00:39:10,NaN,NaN

In [11]:
pdf.to_csv('./911call/chifoia_event_unit.csv')