In [1]:
import numpy as np
import pandas as pd
import os
import datetime
from geopy import distance as geo
# from scipy.spatial import distance

In [2]:
calldata = pd.read_csv('./call_data_for_matching.csv',skiprows=0,header=0)

In [3]:
calldata.head()

   event_number          x          y               entrydate inittype fintype
0    1600100965 -87.595175  41.765082  2016-01-01 00:54:11-06     SUSP  SUSPER
1    1600100966 -87.643028  41.765225  2016-01-01 00:54:15-06   CELLHU  CELLHU
2    1600100967 -87.753893  41.929623  2016-01-01 00:54:15-06   SHOTSF  SHOTSF
3    1600100968 -87.618541  41.889492  2016-01-01 00:54:18-06   CELLHU  CELLHU
4    1600100969 -87.638053  41.923793  2016-01-01 00:54:22-06   CHECWB  CHECWB

In [4]:
# all the time have been translated to UTC
# But that is fine.
##################################
# Change the column name of call data for further work
calldata.columns

Index(['event_number', 'x', 'y', 'entrydate', 'inittype', 'fintype'], dtype='object')

In [5]:
calldata.columns = ['event_number', 'longitude', 'latitude', 'entrydate', 'inittype', 'fintype']

In [6]:
calldata.head()

   event_number  longitude   latitude               entrydate inittype fintype
0    1600100965 -87.595175  41.765082  2016-01-01 00:54:11-06     SUSP  SUSPER
1    1600100966 -87.643028  41.765225  2016-01-01 00:54:15-06   CELLHU  CELLHU
2    1600100967 -87.753893  41.929623  2016-01-01 00:54:15-06   SHOTSF  SHOTSF
3    1600100968 -87.618541  41.889492  2016-01-01 00:54:18-06   CELLHU  CELLHU
4    1600100969 -87.638053  41.923793  2016-01-01 00:54:22-06   CHECWB  CHECWB

In [7]:
import gmaps
import os

In [8]:
calldata=calldata[calldata.latitude<90]

In [9]:
call2 = calldata.sample(frac=0.1, replace=False)

In [10]:
gmaps.configure(api_key="AIzaSyCGGfGU-vW1vluMCtT_GEEtuHLkN0lmHqE")

In [11]:
locations = call2[['latitude','longitude']].dropna(axis='rows')
locations_forgmaps = locations.values
locations_forgmaps

array([[ 41.734007, -87.660581],
       [ 41.898848, -87.771615],
       [ 41.892389, -87.634088],
       ...,
       [ 41.863668, -87.62407 ],
       [ 41.918694, -87.765422],
       [ 41.865747, -87.723936]])

In [12]:
figure_layout = {
    'width': '800px',
    'height': '800px',
    'border': '1px solid black',
    'padding': '1px'
}
gmaps.figure(layout=figure_layout,map_type='HYBRID')

fig = gmaps.figure(layout=figure_layout)
fig.add_layer(gmaps.heatmap_layer(locations_forgmaps))
fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', padding='1px', width='800px'))

In [13]:
# calldata[['crimes_uid','distance','time_diff']]=calldata.apply(find_the_matching,args=[crimes,time_penalty,time_diff,distance_cutoff,combine_cutoff],axis =1)