In [1]:
import numpy as np
import pandas as pd
import os
import datetime
from geopy import distance as geo
import dask.dataframe as dd
from dask.multiprocessing import get
# from scipy.spatial import distance

In [2]:
crimes = pd.read_csv('./crimes_data_for_matching.csv',skiprows=0,header=0)

In [3]:
crimes.head()

,uid,case_number,date,primary_type,latitude,longitude
0,10364596,HY556489,2015-12-31 18:45:00-06,BATTERY,41.894898,-87.759702
1,10364616,HY556411,2015-12-31 16:28:00-06,NARCOTICS,41.964437,-87.662375
2,10364656,HY556590,2015-12-31 22:05:00-06,BATTERY,41.905562,-87.707614
3,10364664,HY556241,2015-12-31 15:15:00-06,ASSAULT,41.885654,-87.754346
4,10364742,HY556615,2015-12-31 23:15:00-06,BATTERY,41.679862,-87.621982

In [4]:
calldata = pd.read_csv('./call_data_for_matching.csv',skiprows=0,header=0)

In [5]:
calldata.head()

   event_number          x          y               entrydate inittype fintype
0    1600100965 -87.595175  41.765082  2016-01-01 00:54:11-06     SUSP  SUSPER
1    1600100966 -87.643028  41.765225  2016-01-01 00:54:15-06   CELLHU  CELLHU
2    1600100967 -87.753893  41.929623  2016-01-01 00:54:15-06   SHOTSF  SHOTSF
3    1600100968 -87.618541  41.889492  2016-01-01 00:54:18-06   CELLHU  CELLHU
4    1600100969 -87.638053  41.923793  2016-01-01 00:54:22-06   CHECWB  CHECWB

In [6]:
calldata.entrydate = pd.to_datetime(calldata.entrydate,errors='coerce')
crimes.date = pd.to_datetime(crimes.date,errors='coerce')

In [7]:
calldata.head()

   event_number          x          y           entrydate inittype fintype
0    1600100965 -87.595175  41.765082 2016-01-01 06:54:11     SUSP  SUSPER
1    1600100966 -87.643028  41.765225 2016-01-01 06:54:15   CELLHU  CELLHU
2    1600100967 -87.753893  41.929623 2016-01-01 06:54:15   SHOTSF  SHOTSF
3    1600100968 -87.618541  41.889492 2016-01-01 06:54:18   CELLHU  CELLHU
4    1600100969 -87.638053  41.923793 2016-01-01 06:54:22   CHECWB  CHECWB

In [8]:
crimes.head()

        uid case_number                date primary_type   latitude  longitude
0  10364596    HY556489 2016-01-01 00:45:00      BATTERY  41.894898 -87.759702
1  10364616    HY556411 2015-12-31 22:28:00    NARCOTICS  41.964437 -87.662375
2  10364656    HY556590 2016-01-01 04:05:00      BATTERY  41.905562 -87.707614
3  10364664    HY556241 2015-12-31 21:15:00      ASSAULT  41.885654 -87.754346
4  10364742    HY556615 2016-01-01 05:15:00      BATTERY  41.679862 -87.621982

In [9]:
# all the time have been translated to UTC
# But that is fine.
##################################
# Change the column name of call data for further work
calldata.columns

Index(['event_number', 'x', 'y', 'entrydate', 'inittype', 'fintype'], dtype='object')

In [10]:
calldata.columns = ['event_number', 'longitude', 'latitude', 'entrydate', 'inittype', 'fintype']

In [11]:
calldata.head()

   event_number  longitude   latitude           entrydate inittype fintype
0    1600100965 -87.595175  41.765082 2016-01-01 06:54:11     SUSP  SUSPER
1    1600100966 -87.643028  41.765225 2016-01-01 06:54:15   CELLHU  CELLHU
2    1600100967 -87.753893  41.929623 2016-01-01 06:54:15   SHOTSF  SHOTSF
3    1600100968 -87.618541  41.889492 2016-01-01 06:54:18   CELLHU  CELLHU
4    1600100969 -87.638053  41.923793 2016-01-01 06:54:22   CHECWB  CHECWB

In [12]:
crimes = crimes.dropna(subset=['latitude','longitude'])
calldata = calldata.dropna(subset=['latitude','longitude'])

In [13]:
calldata = calldata.drop(columns=['inittype', 'fintype'])

In [14]:
calldata.count().sum()

event_number    7816131
longitude       7816131
latitude        7816131
entrydate       7816131
dtype: int64

In [15]:
usedata = calldata.sample(frac=0.05, replace=False)

In [16]:
ddata = dd.from_pandas(usedata, npartitions=12)

In [17]:
time_penalty = 0
time_window = 3600
distance_cutoff = 300
combine_cutoff =300
time_diff = datetime.timedelta(seconds=time_window)

In [18]:
def find_the_matching(calldata,crimesdata,time_penalty,time_diff,distance_cutoff,combine_cutoff):
    if np.isnan(calldata['latitude'] ):
        return pd.Series([calldata['event_number'],np.nan,np.nan,np.nan])
    
    if calldata['latitude'] >50 or calldata['latitude']<30 or calldata['longitude']>-80 or calldata['longitude']<-100:
        return pd.Series([calldata['event_number'],np.nan,np.nan,np.nan])
    
    lat_lon_sum = calldata['latitude'] +calldata['longitude']
    matching_temp = crimesdata[(crimesdata['date']<=calldata['entrydate']+time_diff) & (crimesdata['date']>= calldata['entrydate']-time_diff) & (crimesdata['latitude']+crimesdata['longitude']>= lat_lon_sum-0.1) & (crimesdata['latitude']+crimesdata['longitude']<= lat_lon_sum+0.1)]
    if matching_temp.count().sum()==0:
        return pd.Series([calldata['event_number'],np.nan,np.nan,np.nan])
    idx = matching_temp.apply(lambda x: geo.distance((x['latitude'],x['longitude']),(calldata['latitude'],calldata['longitude'])).m
                                  + np.abs(time_penalty*(x['date']-calldata['entrydate']).seconds/3600  ),axis =1 ).idxmin()
    return_data = matching_temp.loc[idx]
    geo_dis = geo.distance((return_data['latitude'],return_data['longitude']),(calldata['latitude'],calldata['longitude'])).m 
    diff = np.abs((return_data['date']-calldata['entrydate']).seconds/60 + (return_data['date']-calldata['entrydate']).days*1440)
    # time diff in mins
    if geo_dis > distance_cutoff:
        return pd.Series([calldata['event_number'],np.nan,np.nan,np.nan])
    
    if geo.distance((return_data['latitude'],return_data['longitude']),(calldata['latitude'],calldata['longitude'])).m + diff/60 * time_penalty >combine_cutoff:
        return pd.Series([calldata['event_number'],np.nan,np.nan,np.nan])
    
    return pd.Series([calldata['event_number'],return_data['uid'],geo_dis,diff])

def find_the_matching(calldata,crimesdata,time_penalty,time_diff,distance_cutoff,combine_cutoff):
    if np.isnan(calldata['latitude'] ):
        return pd.Series([calldata['event_number'],np.nan,np.nan,np.nan])
    
    if calldata['latitude'] >50 or calldata['latitude']<30 or calldata['longitude']>-80 or calldata['longitude']<-100:
        return pd.Series([calldata['event_number'],np.nan,np.nan,np.nan])
    
    matching_temp = crimesdata[(crimesdata['date']<=calldata['entrydate']+time_diff) & (crimesdata['date']>= calldata['entrydate']-time_diff)
                              & (crimesdata['latitude']<=calldata['latitude']+0.05) & (crimesdata['latitude']>=calldata['latitude']-0.05)
                              & (crimesdata['longitude']<=calldata['longitude']+0.05) & (crimesdata['longitude']>=calldata['longitude']-0.05)]
    if matching_temp.count()==0:
        return pd.Series([calldata['event_number'],np.nan,np.nan,np.nan])
    idx = matching_temp.apply(lambda x: geo.distance((x['latitude'],x['longitude']),(calldata['latitude'],calldata['longitude'])).m
                                  + np.abs(time_penalty*(x['date']-calldata['entrydate']).seconds/3600  ),axis =1 ).idxmin()
    return_data = matching_temp.loc[idx]
    geo_dis = geo.distance((return_data['latitude'],return_data['longitude']),(calldata['latitude'],calldata['longitude'])).m 
    diff = np.abs((return_data['date']-calldata['entrydate']).seconds/60 + (return_data['date']-calldata['entrydate']).days*1440)
    # time diff in mins
    if geo_dis > distance_cutoff:
        return pd.Series([calldata['event_number'],np.nan,np.nan,np.nan])
    
    if geo.distance((return_data['latitude'],return_data['longitude']),(calldata['latitude'],calldata['longitude'])).m + diff/60 * time_penalty >combine_cutoff:
        return pd.Series([calldata['event_number'],np.nan,np.nan,np.nan])
    
    return pd.Series([calldata['event_number'],return_data['uid'],geo_dis,diff])

In [19]:
res=ddata.map_partitions(lambda df: df.apply((lambda x: find_the_matching(x,crimes,time_penalty,time_diff,distance_cutoff,combine_cutoff)), axis=1)).compute(get=get)

D:\ProgramData\Anaconda3\envs\FinalProject\lib\site-packages\dask\base.py:835: UserWarning: The get= keyword has been deprecated. Please use the scheduler= keyword instead with the name of the desired scheduler like 'threads' or 'processes'
  warnings.warn("The get= keyword has been deprecated. "

In [20]:
# calldata[['crimes_uid','distance','time_diff']]=calldata.apply(find_the_matching,args=[crimes,time_penalty,time_diff,distance_cutoff,combine_cutoff],axis =1)

In [21]:
res.dropna()

                     0           1           2          3
6         1.600101e+09  10475491.0  242.090923  54.566667
30        1.600101e+09  11042862.0  114.492990  54.766667
60        1.600101e+09  10364754.0  275.629606  53.366667
78        1.600101e+09  10464790.0  124.351407  58.300000
276       1.600101e+09  10364756.0   25.327756  10.900000
279       1.600101e+09  10364756.0  217.605418  11.066667
345       1.600101e+09  10364752.0  192.862519  14.383333
615       1.600102e+09  10364782.0  185.799267  46.616667
674       1.600102e+09  10367713.0  281.268142  24.500000
776       1.600102e+09  10364765.0   92.282828   3.950000
1169      1.600102e+09  10364701.0  189.213302  25.966667
1240      1.600102e+09  10365213.0  122.846280   8.366667
1304      1.600102e+09  10365036.0  222.899690  42.716667
1379      1.600102e+09  10364701.0  258.236528  13.550000
1618      1.600103e+09  10365272.0  153.356383  55.633333
1621      1.600103e+09  10364849.0   34.092745   0.516667
1645      1.600103e+09  10364701.0  253.701270   1.833333
1676      1.600103e+09  10365208.0  284.972037  25.933333
1687      1.600103e+09  10365145.0   17.588031  40.450000
1709      1.600103e+09  10364783.0  178.213290  35.766667
1838      1.600103e+09  10364923.0   59.039311  45.866667
2022      1.600103e+09  10364773.0  249.551052  14.766667
2044      1.600103e+09  10364923.0   59.039311  34.000000
2053      1.600103e+09  10365476.0   48.777027   6.616667
2110      1.600103e+09  10366554.0  172.386550  60.000000
2210      1.600103e+09  10364751.0  276.701076  20.483333
2253      1.600103e+09  10365093.0   10.977356  21.000000
2268      1.600103e+09  10364751.0  280.203426  23.983333
2370      1.600103e+09  10365208.0   15.448770  15.666667
2517      1.600103e+09  10366554.0  172.386550  35.600000
...                ...         ...         ...        ...
10514686  1.718116e+09  11001875.0   96.376030  44.950000
10514688  1.718116e+09  11001947.0  225.594558  51.866667
10514747  1.718116e+09  11002000.0  285.633267  57.550000
10514890  1.718116e+09  11005292.0  230.586075  57.583333
10515043  1.718116e+09  11002285.0  295.020585  48.783333
10515045  1.718116e+09  11001967.0  254.595074  48.666667
10515486  1.718117e+09  11002081.0  236.536640   5.150000
10516331  1.718118e+09  11002139.0   28.043023   5.116667
10516401  1.718118e+09  11002081.0  198.913909  54.483333
10516487  1.718118e+09  11001930.0    6.718755  10.016667
10516560  1.718118e+09  11002062.0    8.091752  15.450000
10516637  1.718118e+09  11003691.0  138.242132   7.516667
10517125  1.718118e+09  11001999.0  210.184390  59.500000
10517131  1.718118e+09  11002086.0   71.346353   7.933333
10517292  1.718119e+09  11002026.0  229.468279  41.850000
10517377  1.718119e+09  11009191.0  102.368022  38.283333
10517417  1.718119e+09  11002030.0  264.157972   0.833333
10517523  1.718119e+09  11002036.0  146.233065  36.850000
10517540  1.718119e+09  11002036.0   56.837133  35.666667
10517637  1.718119e+09  11001949.0    8.134919   6.433333
10517679  1.718119e+09  11002085.0   39.013260  31.400000
10517818  1.718119e+09  11002019.0  290.958840  42.916667
10517840  1.718119e+09  11002056.0   50.454865   2.966667
10517908  1.718119e+09  11002056.0   53.858431   7.500000
10518044  1.718119e+09  11002026.0   12.086905   0.483333
10518645  1.600101e+09  10486958.0  204.565597  25.866667
10518745  1.600101e+09  10364752.0  291.346989  55.600000
10518769  1.600101e+09  10365102.0  147.245725   3.600000
10518771  1.600101e+09  10364714.0    9.776088  21.766667
10519010  1.600101e+09  10364854.0  103.385530   7.750000

[42539 rows x 4 columns]

In [22]:
res.head()

               0           1           2          3
6   1.600101e+09  10475491.0  242.090923  54.566667
13  1.600101e+09         NaN         NaN        NaN
30  1.600101e+09  11042862.0  114.492990  54.766667
53  1.600101e+09         NaN         NaN        NaN
60  1.600101e+09  10364754.0  275.629606  53.366667

In [23]:
res.to_csv('./out.csv')